<!DOCTYPE html>

<html>
<head>
  <title>compute_data.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page">
            
              
              <a class="source" href="compute_data.html">
                compute_data.js
              </a>
            
              
              <a class="source" href="scope.html">
                scope.js
              </a>
            
          </div>
        </li>
      </ul>
    
    <ul class="sections">
        
          <li id="title">
              <div class="annotation">
                  <h1>compute_data.js</h1>
              </div>
          </li>
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              
            </div>
            
            <div class="content"><div class='highlight'><pre>steal(<span class="hljs-string">"can/util"</span>,<span class="hljs-string">"can/compute"</span>,<span class="hljs-string">"can/compute/get_value_and_bind.js"</span>,<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">can,compute, ObservedInfo</span>)</span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <p>The goal of this is to create a high-performance compute that represents a key value from can.view.Scope.
If the key value is something like {{name}} and the context is a can.Map, a faster
binding path will be used where new rebindings don’t need to be looked for with every change of 
the observable property.
However, if the property changes to a compute, then the slower <code>can.compute.read</code> method of
observing values will be used.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>	
	
	<span class="hljs-keyword">var</span> isFastPath = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">computeData</span>)</span>{
		<span class="hljs-keyword">return</span> computeData.reads &amp;&amp;</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <p>a single property read</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					computeData.reads.length === <span class="hljs-number">1</span> &amp;&amp;</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <p>on a map</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					computeData.root <span class="hljs-keyword">instanceof</span> can.Map &amp;&amp;</pre></div></div>
            
        </li>
        
        
        <li id="section-5">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-5">&#182;</a>
              </div>
              <p>that isn’t calling a function</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					!can.isFunction(computeData.root[computeData.reads[<span class="hljs-number">0</span>].key]);
	};
	
	<span class="hljs-keyword">var</span> scopeReader = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">scope, key, options, computeData, newVal</span>)</span>{
		<span class="hljs-keyword">if</span> (<span class="hljs-built_in">arguments</span>.length &gt; <span class="hljs-number">4</span>) {
			<span class="hljs-keyword">var</span> root = computeData.root || computeData.setRoot;
			<span class="hljs-keyword">if</span>(root) {
				<span class="hljs-keyword">if</span>(root.isComputed) {
					root(newVal);
				} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span>(computeData.reads.length) {
					<span class="hljs-keyword">var</span> last = computeData.reads.length - <span class="hljs-number">1</span>;
					<span class="hljs-keyword">var</span> obj = computeData.reads.length ? can.compute.read(root, computeData.reads.slice(<span class="hljs-number">0</span>, last)).value
						: root;
					can.compute.set(obj, computeData.reads[last].key, newVal, options);
				}
			} <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-6">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-6">&#182;</a>
              </div>
              <p>WARN … you can’t set nothing</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			}</pre></div></div>
            
        </li>
        
        
        <li id="section-7">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-7">&#182;</a>
              </div>
              <p><strong>Compute getter</strong></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		} <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-8">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-8">&#182;</a>
              </div>
              <p>If computeData has found the value for the key in the past in an observable then go directly to
the observable (computeData.root) that the value was found in the last time and return the new value.  This
is a huge performance gain for the fact that we aren’t having to check the entire scope each time.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">if</span> (computeData.root) {
				<span class="hljs-keyword">return</span> can.compute.read(computeData.root, computeData.reads, options)
					.value;
			}</pre></div></div>
            
        </li>
        
        
        <li id="section-9">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-9">&#182;</a>
              </div>
              <p>If the key has not already been located in a observable then we need to search the scope for the
key.  Once we find the key then we need to return it’s value and if it is found in an observable
then we need to store the observable so the next time this compute is called it can grab the value
directly from the observable.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">var</span> data = scope.read(key, options);
			computeData.scope = data.scope;
			computeData.initialValue = data.value;
			computeData.reads = data.reads;
			computeData.root = data.rootObserve;
			computeData.setRoot = data.setRoot;
			<span class="hljs-keyword">return</span> data.value;
		}
	};
	
	<span class="hljs-keyword">return</span> <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">scope, key, options</span>)</span>{
		options = options || {
			<span class="hljs-attr">args</span>: []
		};</pre></div></div>
            
        </li>
        
        
        <li id="section-10">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-10">&#182;</a>
              </div>
              <p>the object we are returning</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		<span class="hljs-keyword">var</span> computeData = {},</pre></div></div>
            
        </li>
        
        
        <li id="section-11">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-11">&#182;</a>
              </div>
              <p>a function that can be passed to getValueAndBind, or used as a setter</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			scopeRead = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">newVal</span>) </span>{
				<span class="hljs-keyword">if</span>(<span class="hljs-built_in">arguments</span>.length) {
					<span class="hljs-keyword">return</span> scopeReader(scope, key, options, computeData, newVal);
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">return</span> scopeReader(scope, key, options, computeData);
				}
			},
			compute = can.compute(<span class="hljs-literal">undefined</span>,{
				<span class="hljs-attr">on</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-12">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-12">&#182;</a>
              </div>
              <p>setup the observing</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					readInfo.getValueAndBind();
					
					<span class="hljs-keyword">if</span>( isFastPath(computeData) ) {</pre></div></div>
            
        </li>
        
        
        <li id="section-13">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-13">&#182;</a>
              </div>
              <p>When the one dependency changes, we can simply get its newVal and
save it.  If it’s a function, we need to start binding the old way.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						readInfo.dependencyChange = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">ev, newVal</span>)</span>{
							<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> newVal !== <span class="hljs-string">"function"</span>) {
								<span class="hljs-keyword">this</span>.newVal = newVal;
							} <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-14">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-14">&#182;</a>
              </div>
              <p>restore</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>								readInfo.dependencyChange = ObservedInfo.prototype.dependencyChange;
								readInfo.getValueAndBind = ObservedInfo.prototype.getValueAndBind;
							}
							<span class="hljs-keyword">return</span> ObservedInfo.prototype.dependencyChange.call(<span class="hljs-keyword">this</span>, ev);
						};
						readInfo.getValueAndBind = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
							<span class="hljs-keyword">this</span>.value = <span class="hljs-keyword">this</span>.newVal;
						};
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-15">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-15">&#182;</a>
              </div>
              <p>TODO deal with this right</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					compute.computeInstance.value = readInfo.value;
					compute.computeInstance.hasDependencies = !can.isEmptyObject(readInfo.newObserved);
				},
				<span class="hljs-attr">off</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
					readInfo.dependencyChange = ObservedInfo.prototype.dependencyChange;
					readInfo.getValueAndBind = ObservedInfo.prototype.getValueAndBind;
					readInfo.teardown();
				},
				<span class="hljs-attr">set</span>: scopeRead,
				<span class="hljs-attr">get</span>: scopeRead,</pre></div></div>
            
        </li>
        
        
        <li id="section-16">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-16">&#182;</a>
              </div>
              <p>a hack until we clean up can.compute for 3.0</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				__selfUpdater: <span class="hljs-literal">true</span>
			}),</pre></div></div>
            
        </li>
        
        
        <li id="section-17">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-17">&#182;</a>
              </div>
              <p>the observables read by the last calling of <code>scopeRead</code></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			readInfo = <span class="hljs-keyword">new</span> ObservedInfo(scopeRead, <span class="hljs-literal">null</span>, compute.computeInstance);
		
		computeData.compute = compute;
		<span class="hljs-keyword">return</span> computeData;
		
	};
});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
