<!DOCTYPE html>

<html>
<head>
  <title>can/view/scope/scope.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page">
            
              
              <a class="source" href="compute_data.html">
                compute_data.js
              </a>
            
              
              <a class="source" href="scope.html">
                scope.js
              </a>
            
          </div>
        </li>
      </ul>
    
    <ul class="sections">
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              <h1 id="can-view-scope-scope-js">can/view/scope/scope.js</h1>
<p>This allows you to define a lookup context and parent contexts that a key’s value can be retrieved from.
If no parent scope is provided, only the scope’s context will be explored for values.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>
steal(
	<span class="hljs-string">'can/util'</span>,
	<span class="hljs-string">'can/view/scope/compute_data.js'</span>,
	<span class="hljs-string">'can/construct'</span>,
	<span class="hljs-string">'can/map'</span>,
	<span class="hljs-string">'can/list'</span>,
	<span class="hljs-string">'can/view'</span>,
	<span class="hljs-string">'can/compute'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">can, makeComputeData</span>) </span>{

		<span class="hljs-comment">/**
		 * @add can.view.Scope
		 */</span>
		<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Scope</span>(<span class="hljs-params">context, parent, meta</span>) </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <p>The obj that will be looked on for values.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">this</span>._context = context;</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <p>The next Scope object whose context should be looked on for values.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">this</span>._parent = parent;</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <p>If this is a special context, it can be labeled here.
Options are:</p>
<ul>
<li>viewModel - This is a viewModel</li>
<li>notContext - This can’t be looked within using <code>./</code> and <code>../</code>. It will be skipped.  This is
for virtual contexts like those used by <code>%index</code>.</li>
</ul>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">this</span>._meta = meta || {};</pre></div></div>
            
        </li>
        
        
        <li id="section-5">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-5">&#182;</a>
              </div>
              <p>A cache that can be used to store computes used to look up within this scope.
For example if someone creates a compute to lookup <code>name</code>, another compute does not
need to be created.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">this</span>.__cache = {};
		}

		<span class="hljs-comment">/**
		 * @static
		 */</span>
		can.simpleExtend(Scope, {</pre></div></div>
            
        </li>
        
        
        <li id="section-6">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-6">&#182;</a>
              </div>
              <h2 id="scope-read">Scope.read</h2>
<p>Scope.read was moved to can.compute.read
can.compute.read reads properties from a parent.  A much more complex version of getObject.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			read: can.compute.read,</pre></div></div>
            
        </li>
        
        
        <li id="section-7">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-7">&#182;</a>
              </div>
              <h2 id="scope-refs">Scope.Refs</h2>
<p>A special type of <code>can.Map</code> used for the references scope.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			Refs: can.Map.extend({<span class="hljs-attr">shortName</span>: <span class="hljs-string">"ReferenceMap"</span>},{}),</pre></div></div>
            
        </li>
        
        
        <li id="section-8">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-8">&#182;</a>
              </div>
              <h2 id="scope-refsscope">Scope.refsScope</h2>
<p>A scope with a references scope in it and no parent. </p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			refsScope: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
				<span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> can.view.Scope( <span class="hljs-keyword">new</span> <span class="hljs-keyword">this</span>.Refs() );
			}
		});
		<span class="hljs-comment">/**
		 * @prototype
		 */</span>
		can.simpleExtend(Scope.prototype,{</pre></div></div>
            
        </li>
        
        
        <li id="section-9">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-9">&#182;</a>
              </div>
              <h2 id="scope-prototype-add">Scope.prototype.add</h2>
<p>Creates a new scope and sets the current scope to be the parent.</p>
<pre><code><span class="hljs-keyword">var</span> scope = <span class="hljs-keyword">new</span> can.view.Scope([
  {<span class="hljs-attr">name</span>:<span class="hljs-string">"Chris"</span>}, 
  {<span class="hljs-attr">name</span>: <span class="hljs-string">"Justin"</span>}
]).add({<span class="hljs-attr">name</span>: <span class="hljs-string">"Brian"</span>});
scope.attr(<span class="hljs-string">"name"</span>) <span class="hljs-comment">//-&gt; "Brian"</span>
</code></pre>
            </div>
            
            <div class="content"><div class='highlight'><pre>			add: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">context, meta</span>) </span>{
				<span class="hljs-keyword">if</span> (context !== <span class="hljs-keyword">this</span>._context) {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> <span class="hljs-keyword">this</span>.constructor(context, <span class="hljs-keyword">this</span>, meta);
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>;
				}
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-10">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-10">&#182;</a>
              </div>
              <h2 id="scope-prototype-read">Scope.prototype.read</h2>
<p>Reads from the scope chain and returns the first non-<code>undefined</code> value.
<code>read</code> deals mostly with setting up “context based” keys to start reading
from the right scope.  Once the right scope is located, <code>_read</code> is called.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-comment">/**
			 * @hide
			 * @param {can.mustache.key} attr A dot seperated path.  Use `"\."` if you have a property name that includes a dot.
			 * @param {can.view.Scope.readOptions} options that configure how this gets read.
			 * @return {{}}
			 *   @option {Object} parent the value's immediate parent
			 *   @option {can.Map|can.compute} rootObserve the first observable to read from.
			 *   @option {Array&lt;String&gt;} reads An array of properties that can be used to read from the rootObserve to get the value.
			 *   @option {*} value the found value
			 */</span>
			read: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">attr, options</span>) </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-11">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-11">&#182;</a>
              </div>
              <p>If it’s the root, jump right to it.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">if</span>(attr === <span class="hljs-string">"%root"</span>) {
					<span class="hljs-keyword">return</span> { <span class="hljs-attr">value</span>: <span class="hljs-keyword">this</span>.getRoot() };
				}</pre></div></div>
            
        </li>
        
        
        <li id="section-12">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-12">&#182;</a>
              </div>
              <p>Identify context based keys.  Context based keys try to
specify a particular context a key should be within.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> isInCurrentContext = attr.substr(<span class="hljs-number">0</span>, <span class="hljs-number">2</span>) === <span class="hljs-string">'./'</span>,
					isInParentContext = attr.substr(<span class="hljs-number">0</span>, <span class="hljs-number">3</span>) === <span class="hljs-string">"../"</span>,
					isCurrentContext = attr === <span class="hljs-string">"."</span> || attr === <span class="hljs-string">"this"</span>,
					isParentContext = attr === <span class="hljs-string">".."</span>,
					isContextBased = isInCurrentContext ||
						isInParentContext ||
						isCurrentContext ||
						isParentContext;</pre></div></div>
            
        </li>
        
        
        <li id="section-13">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-13">&#182;</a>
              </div>
              <p><code>notContext</code> contexts should be skipped if the key is “context based”.
For example, the context that holds <code>%index</code>.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">if</span>(isContextBased &amp;&amp; <span class="hljs-keyword">this</span>._meta.notContext) {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>._parent.read(attr, options);
				}</pre></div></div>
            
        </li>
        
        
        <li id="section-14">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-14">&#182;</a>
              </div>
              <p>If true, lookup stops after the current context. </p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> currentScopeOnly;

				<span class="hljs-keyword">if</span>(isInCurrentContext) {</pre></div></div>
            
        </li>
        
        
        <li id="section-15">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-15">&#182;</a>
              </div>
              <p>Stop lookup from checking parent scopes.
Set flag to halt lookup from walking up scope.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					currentScopeOnly = <span class="hljs-literal">true</span>;
					attr = attr.substr(<span class="hljs-number">2</span>);
				}
				<span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (isInParentContext) {</pre></div></div>
            
        </li>
        
        
        <li id="section-16">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-16">&#182;</a>
              </div>
              <p>walk up until we find a parent that can have context.
the <code>isContextBased</code> check above won’t catch it when you go from
<code>../foo</code> to <code>foo</code> because <code>foo</code> isn’t context based.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">var</span> parent = <span class="hljs-keyword">this</span>._parent;
					<span class="hljs-keyword">while</span>(parent._meta.notContext) {
						parent = parent._parent;
					}
					
					<span class="hljs-keyword">return</span> parent.read(attr.substr(<span class="hljs-number">3</span>) || <span class="hljs-string">"."</span>, options);
				}
				<span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> ( isCurrentContext ) {
					<span class="hljs-keyword">return</span> {
						<span class="hljs-attr">value</span>: <span class="hljs-keyword">this</span>._context
					};
				}
				<span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> ( isParentContext ) {
					<span class="hljs-keyword">return</span> {
						<span class="hljs-attr">value</span>: <span class="hljs-keyword">this</span>._parent._context
					};
				}</pre></div></div>
            
        </li>
        
        
        <li id="section-17">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-17">&#182;</a>
              </div>
              <p>if it’s a reference scope, read from there.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> keyReads = can.compute.read.reads(attr);
				<span class="hljs-keyword">if</span>(keyReads[<span class="hljs-number">0</span>].key.charAt(<span class="hljs-number">0</span>) === <span class="hljs-string">"*"</span>) {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.getRefs()._read(keyReads, options, <span class="hljs-literal">true</span>);
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>._read(keyReads,options, currentScopeOnly);
				}
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-18">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-18">&#182;</a>
              </div>
              <h2 id="scope-prototype-_read">Scope.prototype._read</h2>

            </div>
            
            <div class="content"><div class='highlight'><pre>			_read: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">keyReads, options, currentScopeOnly</span>)</span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-19">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-19">&#182;</a>
              </div>
              <p>The current scope and context we are trying to find “keyReads” within.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> currentScope = <span class="hljs-keyword">this</span>,
					currentContext,</pre></div></div>
            
        </li>
        
        
        <li id="section-20">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-20">&#182;</a>
              </div>
              <p>If no value can be found, this is a list of of every observed
object and property name to observe.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					undefinedObserves = [],</pre></div></div>
            
        </li>
        
        
        <li id="section-21">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-21">&#182;</a>
              </div>
              <p>Tracks the first found observe.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					currentObserve,</pre></div></div>
            
        </li>
        
        
        <li id="section-22">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-22">&#182;</a>
              </div>
              <p>Tracks the reads to get the value from <code>currentObserve</code>.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					currentReads,</pre></div></div>
            
        </li>
        
        
        <li id="section-23">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-23">&#182;</a>
              </div>
              <p>Tracks the most likely observable to use as a setter.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					setObserveDepth = <span class="hljs-number">-1</span>,
					currentSetReads,
					currentSetObserve,

					readOptions = can.simpleExtend({
						<span class="hljs-comment">/* Store found observable, incase we want to set it as the rootObserve. */</span>
						foundObservable: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">observe, nameIndex</span>) </span>{
							currentObserve = observe;
							currentReads = keyReads.slice(nameIndex);
						},
						<span class="hljs-attr">earlyExit</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">parentValue, nameIndex</span>) </span>{
							<span class="hljs-keyword">if</span> (nameIndex &gt; setObserveDepth) {
								currentSetObserve = currentObserve;
								currentSetReads = currentReads;
								setObserveDepth = nameIndex;
							}
						}
					}, options);</pre></div></div>
            
        </li>
        
        
        <li id="section-24">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-24">&#182;</a>
              </div>
              <p>Goes through each scope context provided until it finds the key (attr).  Once the key is found
then it’s value is returned along with an observe, the current scope and reads.
While going through each scope context searching for the key, each observable found is returned and
saved so that either the observable the key is found in can be returned, or in the case the key is not
found in an observable the closest observable can be returned.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>
				<span class="hljs-keyword">while</span> (currentScope) {
					currentContext = currentScope._context;



					<span class="hljs-keyword">if</span> ( currentContext !== <span class="hljs-literal">null</span> &amp;&amp;</pre></div></div>
            
        </li>
        
        
        <li id="section-25">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-25">&#182;</a>
              </div>
              <p>if its a primitive type, keep looking up the scope, since there won’t be any properties</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						(<span class="hljs-keyword">typeof</span> currentContext === <span class="hljs-string">"object"</span> || <span class="hljs-keyword">typeof</span> currentContext === <span class="hljs-string">"function"</span>)
					) {</pre></div></div>
            
        </li>
        
        
        <li id="section-26">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-26">&#182;</a>
              </div>
              <p>Prevent computes from temporarily observing the reading of observables.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">var</span> getObserves = can.__trapObserves();

						<span class="hljs-keyword">var</span> data = can.compute.read(currentContext, keyReads, readOptions);</pre></div></div>
            
        </li>
        
        
        <li id="section-27">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-27">&#182;</a>
              </div>
              <p>Retrieve the observes that were read.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">var</span> observes = getObserves();</pre></div></div>
            
        </li>
        
        
        <li id="section-28">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-28">&#182;</a>
              </div>
              <p>If a <strong>value was was found</strong>, return value and location data.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">if</span> (data.value !== <span class="hljs-literal">undefined</span>) {
							can.__observes(observes);
							<span class="hljs-keyword">return</span> {
								<span class="hljs-attr">scope</span>: currentScope,
								<span class="hljs-attr">rootObserve</span>: currentObserve,
								<span class="hljs-attr">value</span>: data.value,
								<span class="hljs-attr">reads</span>: currentReads
							};
						}</pre></div></div>
            
        </li>
        
        
        <li id="section-29">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-29">&#182;</a>
              </div>
              <p>Otherwise, save all observables that were read.  If no value
is found, we will observe on all of them.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">else</span> {
							undefinedObserves.push.apply(undefinedObserves, observes);
						}
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-30">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-30">&#182;</a>
              </div>
              
            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">if</span>(currentScopeOnly) {
						currentScope = <span class="hljs-literal">null</span>;
					} <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-31">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-31">&#182;</a>
              </div>
              <p>Move up to the next scope.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						currentScope = currentScope._parent;
					}
				}</pre></div></div>
            
        </li>
        
        
        <li id="section-32">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-32">&#182;</a>
              </div>
              <p>The <strong>value was not found</strong>, return <code>undefined</code> for the value.
Make sure we listen to everything we checked for when the value becomes defined.
Once it becomes defined, we won’t have to listen to so many things.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				can.__observes(undefinedObserves);
				<span class="hljs-keyword">return</span> {
					<span class="hljs-attr">setRoot</span>: currentSetObserve,
					<span class="hljs-attr">reads</span>: currentSetReads,
					<span class="hljs-attr">value</span>: <span class="hljs-literal">undefined</span>
				};
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-33">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-33">&#182;</a>
              </div>
              <h2 id="scope-prototype-get">Scope.prototype.get</h2>
<p>Gets a value from the scope without being observable.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			get: can.__notObserve(<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">key, options</span>) </span>{

				options = can.simpleExtend({
					<span class="hljs-attr">isArgument</span>: <span class="hljs-literal">true</span>
				}, options);

				<span class="hljs-keyword">var</span> res = <span class="hljs-keyword">this</span>.read(key, options);
				<span class="hljs-keyword">return</span> res.value;
			}),</pre></div></div>
            
        </li>
        
        
        <li id="section-34">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-34">&#182;</a>
              </div>
              <h2 id="scope-prototype-getscope">Scope.prototype.getScope</h2>
<p>Returns the first scope that passes the <code>tester</code> function.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			getScope: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">tester</span>)</span>{
				<span class="hljs-keyword">var</span> scope = <span class="hljs-keyword">this</span>;
				<span class="hljs-keyword">while</span> (scope) {
					<span class="hljs-keyword">if</span>(tester(scope)) {
						<span class="hljs-keyword">return</span> scope;
					}
					scope = scope._parent;
				}
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-35">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-35">&#182;</a>
              </div>
              <h2 id="scope-prototype-getcontext">Scope.prototype.getContext</h2>
<p>Returns the first context whose scope passes the <code>tester</code> function.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			getContext: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">tester</span>)</span>{
				<span class="hljs-keyword">var</span> res = <span class="hljs-keyword">this</span>.getScope(tester);
				<span class="hljs-keyword">return</span> res &amp;&amp; res._context;
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-36">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-36">&#182;</a>
              </div>
              <h2 id="scope-prototype-getrefs">Scope.prototype.getRefs</h2>
<p>Returns the first references scope.
Used by <code>.read</code> when looking up <code>*key</code> and by the references
view binding.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			getRefs: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
				<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.getScope(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">scope</span>)</span>{
					<span class="hljs-keyword">return</span> scope._context  <span class="hljs-keyword">instanceof</span> Scope.Refs;
				});
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-37">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-37">&#182;</a>
              </div>
              <h2 id="scope-prototype-getroot">Scope.prototype.getRoot</h2>
<p>Returns the top most context that is not a references scope.
Used by <code>.read</code> to provide <code>%root</code>.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			getRoot: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
				<span class="hljs-keyword">var</span> cur = <span class="hljs-keyword">this</span>,
					child = <span class="hljs-keyword">this</span>;

				<span class="hljs-keyword">while</span>(cur._parent) {
					child = cur;
					cur = cur._parent;
				}

				<span class="hljs-keyword">if</span>(cur._context <span class="hljs-keyword">instanceof</span> Scope.Refs) {
					cur = child;
				}
				<span class="hljs-keyword">return</span> cur._context;
			},
			<span class="hljs-attr">set</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">key, value, options</span>)</span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-38">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-38">&#182;</a>
              </div>
              <p>Use <code>.read</code> to read everything upto, but not including the last property name
to find the object we want to set some property on.
For example:</p>
<ul>
<li><code>foo.bar</code> -&gt; <code>foo</code></li>
<li><code>../foo.bar</code> -&gt; <code>../foo</code></li>
<li><code>../foo</code> -&gt; <code>..</code></li>
<li><code>foo</code> -&gt; <code>.</code></li>
</ul>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> dotIndex = key.lastIndexOf(<span class="hljs-string">'.'</span>),
					slashIndex = key.lastIndexOf(<span class="hljs-string">'/'</span>),
					contextPath,
					propName;
				
				<span class="hljs-keyword">if</span>(slashIndex &gt; dotIndex) {
					contextPath = key.substring(<span class="hljs-number">0</span>, slashIndex);
					propName = key.substring(slashIndex + <span class="hljs-number">1</span>, key.length);
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">if</span>(dotIndex !== <span class="hljs-number">-1</span>) {
						contextPath = key.substring(<span class="hljs-number">0</span>, dotIndex);
						propName = key.substring(dotIndex + <span class="hljs-number">1</span>, key.length);
					} <span class="hljs-keyword">else</span> {
						contextPath = <span class="hljs-string">"."</span>;
						propName = key;
					}
				}

				<span class="hljs-keyword">if</span>(key.charAt(<span class="hljs-number">0</span>) === <span class="hljs-string">"*"</span>) {
					can.compute.set(<span class="hljs-keyword">this</span>.getRefs()._context, key, value, options);
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">var</span> context = <span class="hljs-keyword">this</span>.read(contextPath, options).value;
					can.compute.set(context, propName, value, options);
				}
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-39">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-39">&#182;</a>
              </div>
              <h2 id="scope-prototype-attr">Scope.prototype.attr</h2>
<p>Gets or sets a value in the scope without being observable.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			attr: can.__notObserve(<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">key, value, options</span>) </span>{


				options = can.simpleExtend({
					<span class="hljs-attr">isArgument</span>: <span class="hljs-literal">true</span>
				}, options);</pre></div></div>
            
        </li>
        
        
        <li id="section-40">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-40">&#182;</a>
              </div>
              <p>Allow setting a value on the context</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">if</span>(<span class="hljs-built_in">arguments</span>.length === <span class="hljs-number">2</span>) {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.set(key, value, options);
					
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.get(key, options);
				}

			}),</pre></div></div>
            
        </li>
        
        
        <li id="section-41">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-41">&#182;</a>
              </div>
              <h2 id="scope-prototype-computedata">Scope.prototype.computeData</h2>
<p>Finds the first location of the key in the scope and then provides a get-set compute that represents the key’s value
and other information about where the value was found.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			computeData: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">key, options</span>) </span>{
				<span class="hljs-keyword">return</span> makeComputeData(<span class="hljs-keyword">this</span>, key, options);
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-42">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-42">&#182;</a>
              </div>
              <h2 id="scope-prototype-compute">Scope.prototype.compute</h2>
<p>Provides a get-set compute that represents a key’s value.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			compute: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">key, options</span>) </span>{
				<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.computeData(key, options)
					.compute;
			},</pre></div></div>
            
        </li>
        
        
        <li id="section-43">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-43">&#182;</a>
              </div>
              <h2 id="scope-prototype-clonefromref">Scope.prototype.cloneFromRef</h2>
<p>This takes a scope and essentially copies its chain from
right before the last Refs.  And it does not include the ref.
this is a helper function to provide lexical semantics for refs.
This will not be needed for leakScope: false.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			cloneFromRef: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
				<span class="hljs-keyword">var</span> contexts = [];
				<span class="hljs-keyword">var</span> scope = <span class="hljs-keyword">this</span>,
					context,
					parent;
				<span class="hljs-keyword">while</span> (scope) {
					context = scope._context;
					<span class="hljs-keyword">if</span>(context <span class="hljs-keyword">instanceof</span> Scope.Refs) {
						parent = scope._parent;
						<span class="hljs-keyword">break</span>;
					}
					contexts.unshift(context);
					scope = scope._parent;
				}
				<span class="hljs-keyword">if</span>(parent) {
					can.each(contexts, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">context</span>)</span>{
						parent = parent.add(context);
					});
					<span class="hljs-keyword">return</span> parent;
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>;
				}
			}
		});

		can.view.Scope = Scope;

		<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Options</span>(<span class="hljs-params">data, parent, meta</span>)</span>{
			<span class="hljs-keyword">if</span> (!data.helpers &amp;&amp; !data.partials &amp;&amp; !data.tags) {
				data = {
					<span class="hljs-attr">helpers</span>: data
				};
			}
			Scope.call(<span class="hljs-keyword">this</span>, data, parent, meta);
		}
		Options.prototype = <span class="hljs-keyword">new</span> Scope();
		Options.prototype.constructor = Options;

		can.view.Options = Options;

		<span class="hljs-keyword">return</span> Scope;
	});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
