<div class="hero">
</div><!-- .hero -->
<div class="content">
	<div class="container">
	</div><!-- .container -->
</div><!-- .content -->

<div class="container bithub">
	<a class="next" href="http://bithub.com">Content from Bithub.com </a>
</div><!-- .container -->