<div class="hero">
	<div class="container">

		<div class="cdn">
			<h4>CDN:</h4>
			<div class="input">
				<select name="library" id="library">
					<option value="JQuery">JQuery</option>
					<option value="Zepto">Zepto</option>
					<option value="Dojo">Dojo</option>
					<option value="Mootools">Mootools</option>
					<option value="YUI">YUI</option>
				</select>
				<span>//cdn.canjs.com/releases/1.1.5/can.jquery.js</span>
			</div>

		</div>

		<div class="pull-right">
			<button class="download">Download 1.1.5 <span>(One file. Everything you need.)</span></button>
			<p class="button-desc">Download for: <a href="#">JQuery</a> | <a href="#">Zepto</a> | <a href="#">Dojo</a> | <a href="#">Mootools</a> | <a href="#">YUI</a></p>
		</div>


	</div><!-- .container -->
</div><!-- .hero -->

<div class="customize container">
</div><!-- .customize .container -->
