<div class="hero">
  <div class="container">

    <h1>Build better apps, faster</h1>

    <div id="hero-download" class="pull-right">
      <a href="{{urls.github}}/archive/v{{defaultDownloadVersion}}.zip">
        <button class="download">Download {{defaultDownloadVersion}}<span>(One file. Everything you need.)</span></button>
      </a>
      <button class="customize">Customize <span class="arrow down"></span></button>
      <div class="customize-box customize-replace"></div>
      <p class="button-desc">Works with: jQuery, Zepto, Dojo, Mootools, YUI</p>
    </div>

  </div>
</div>

<div class="content">
	<div class="container benefits">
	
		<ul class="benefit-tabs">
			<li class="flexible"><a href="guides/Why.html#Flexible">
			<h3>Flexible</h3>
			<p>Works with jQuery, Dojo, Mootools, YUI, and Zepto. Reuse your existing templates.</p>
			</a>
			
			</li><li class="powerful"><a href="guides/Why.html#Powerful">
			<h3>Powerful</h3>
			<p>2-way binding, restful models, custom tags, observables, memory safety, and more.</p>
			</a>
			
			</li><li class="fast"><a href="guides/Why.html#Fast">
			<h3>Fast</h3>
			<p>Fast templates, responsive widgets, and you can learn it in a day.</p>
			</a>
			
		</li></ul>
		
		<p>CanJS is a JavaScript library that makes developing complex applications simple and fast. Easy-to-learn, small, and unassuming of your application structure, but with modern features like custom tags and 2-way binding. Creating apps is easy and maintainable.</p>
 
  </div>

  <div class="container twitter">

    <a href="https://twitter.com/canjs" class="twitter-follow-button" data-show-count="true" data-dnt="true" data-show-screen-name="false">Follow</a>

    <iframe src="http://ghbtns.com/github-btn.html?user=canjs&repo=canjs&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

  </div>



  <div class="color get-started">
    <div class="container">
      <h1>Get Started</h1>

      <h2>You'll be up and running in no time</h2>
      <ul class="wizard">
        <li class="download"><a href="download.html">Download</a></li>
        <li class="guide"><a href="guides/Tutorial.html">Read the Guide</a></li>
        <li class="video"><a href="https://www.youtube.com/watch?v=E9kEM9P0Lp8">Watch this Video</a></li>
      </ul>
    </div>
  </div>

  <div class="container example">
    <h1>Simple To Use</h1>
    <h2>Observables and live binding do the work for you.</h2>

    <a href="http://jsfiddle.net/xKc3H/367/" target="_blank"><button class="color">Edit</button></a>
    <pre class="code prettyprint lang-js">
var Todo = can.Model.extend({
  findAll: 'GET /todos',
  findOne: 'GET /todos/{id}',
  update: 'PUT /todos/{id}',
  destroy: 'DELETE /todos/{id}'
}, {});

can.Component.extend({
  tag: 'todos-app',
  scope: {
    selectedTodo: null,
    todos: new Todo.List({}),
    select: function(todo){
      this.attr('selectedTodo', todo);
    },
    save: function(todo) {
      todo.save();
      this.removeAttr('selectedTodo');
    }
  }
})</pre>
    <pre class="template prettyprint lang-html">
&lt;todos-app&gt;
  &lt;h2&gt;Todays to-dos&lt;/h2&gt;
  \{{#selectedTodo}}
  &lt;input type="text"
         can-value="description"
         can-change="save"&gt;
  \{{/selectedTodo}}
  &lt;ul&gt;
    \{{#each todos}}
    &lt;li&gt;
      &lt;input type="checkbox"
             can-value="complete"&gt;
      &lt;span class="\{{#if complete}}done\{{/if}}"
            can-click="select"&gt;
        \{{description}}
      &lt;/span&gt;
      &lt;button can-click="destroy"&gt;&lt;/button&gt;
    &lt;/li&gt;
    \{{/each}}
  &lt;/ul&gt;
&lt;/todos-app&gt;</pre>
    <iframe class="result" src="example/example.html"></iframe>
    <br/>
  </div>

</div>

<div class="container bithub-feed">
  <a href="http://bithub.com/embed?hubId=3&tenant=charming_volcano_7196_1&view=public" class="bithub-embed">CanJS.com Embed</a><script src="http://bithub.com/embed.js"></script>
</div>
