<div class="hero">
	<div class="container">

		<h1>We can<br/>do JavaScript better.</h1>

		<div id="hero-download" class="pull-right">
			<a href="{{self.repository.github}}/archive/v{{package.version}}.zip">
				<button class="download">Download {{package.version}}<span>(One file. Everything you need.)</span></button>
			</a>
			{{! heroDownloadContainer.mustache}}
		</div>

	</div>
	<!-- .container -->
</div><!-- .hero -->

<div class="content">

	<div class="container benefits">
	{{! benefitTabs.mustache}}
	</div>
	<!-- .container -->

	<div class="container twitter">

		<a href="https://twitter.com/canjs" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @canjs</a>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=watch&count=true"
		        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=fork&count=true"
		        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

	</div>
	<!-- .container -->

	<div class="dark social">
		<div class="container">
			<!--<ul class="social-stats">
				<li class="apps"><a href="#community%2Fforums">0 apps submitted</a></li>
				<li class="commits"><a href="#community%2Fgithub">0 recent commits</a></li>
				<li class="forums"><a href="#community%2Fforums">0 new forum posts</a></li>
				<li class="irc"><a href="#community%2Firc">0 people on IRC</a></li>
				<li class="plugins"><a href="#community%2Fplugins">0 plugins submitted</a></li>
			</ul>-->
		</div>
		<!-- .container -->
	</div>
	<!-- .dark -->

	<div class="container example">
		<h1>Simple To Use</h1>
		<h2>Observables and live binding do the work for you.</h2>

		<button class="color execute">Run</button>
		<textarea class="code js"></textarea>
		<textarea class="template html"></textarea>
		<div class="result">
			<div id="todos">

			</div>
		</div>
		<br/>
	</div>
	<!-- .container -->

	<div class="container projects">
		<h1>Used In These Projects</h1>
	</div>
	<!-- .container -->

	<div class="light">
		<div class="container projects">
			<ul class="carousel">
				<li><a href="http://www.mindjet.com/products/mindjet-for-web/?lang=en"><img src="{{root}}img/home-carousel/mindjet.jpg"/><div>Mindjet Web App</div></a></li>
				<li><a href="http://snowhit.com/"><img src="{{root}}img/home-carousel/snowhit.jpg"/><div>Snowhit</div></a></li>
				<li><a href="http://global.laureate.net/"><img src="{{root}}img/home-carousel/laureate.jpg"/><div>Laureate.net</div></a></li>
				<li><a href="https://jumbo.iskon.hr"><img src="{{root}}img/home-carousel/iskonjumbo.jpg"/><div>Iskon Jumbo</div></a></li>
				<li><a href="http://bootswatchr.com/"><img src="{{root}}img/home-carousel/bootswatchr.jpg"/><div>Bootswatchr</div></a></li>
			</ul>
		</div>
		<!-- .container -->
	</div>
	<!-- .light -->

	<div class="color get-started">
		<div class="container">
			<h1>Get Started</h1>

			<h2>You'll be up and running in no time</h2>
			<ul class="wizard">
				<li class="download"><a href="download.html">Download</a></li>
				<li class="guide"><a href="guides/index.html">Read the Guide</a></li>
				<li class="video"><a href="http://youtu.be/GdT4Oq6ZQ68">Watch this Video</a></li>
			</ul>
		</div>
		<!-- .container -->
	</div>
	<!-- .color -->
</div><!-- .content -->
