<div class="hero">
	<div class="container">

		<h1>The can-do attitude your web applications can't do without.</h1>

		<div id="hero-download" class="pull-right">
			<button class="download">Download 1.1.4 <span>(Zip file. Everything you need.)</span></button>
			<button class="customize">Customize <span class="arrow down"></span></button>
			<p class="button-desc">Works with: JQuery, Zepto, Dojo, Mootools, YUI</p>
		</div>

	</div>
	<!-- .container -->
</div><!-- .hero -->

<div class="content">

	<div class="container benefits">
		<ul class="circle-tabs">
			<li class="flexible"><a href="#flexible">Flexible</a></li>
			<li class="powerful"><a href="#powerful">Powerful</a></li>
			<li class="fast"><a href="#fast">Fast</a></li>
		</ul>
		<div class="tab-description">Take it anywhere. Designed to work with multiple libraries, plugins, and templating
			frameworks.
		</div>
	</div>
	<!-- .container -->

	<div class="container twitter">

		<a href="https://twitter.com/canjs" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @canjs</a>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=watch&count=true"
		        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=fork&count=true"
		        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

	</div>
	<!-- .container -->

	<div class="dark social">
		<div class="container">
			<ul class="social-stats">
				<li class="apps"><a href="#apps">0 apps submitted</a></li>
				<li class="commits"><a href="#commits">0 recent commits</a></li>
				<li class="forums"><a href="#forums">0 new forum posts</a></li>
				<li class="irc"><a href="#irc">0 people on IRC</a></li>
				<li class="plugins"><a href="#plugins">0 plugins submitted</a></li>
			</ul>
		</div>
		<!-- .container -->
	</div>
	<!-- .dark -->

	<div class="container example">
		<h1>It’s This Easy</h1>

		<h2>BUILD A TO-DO LIST APP WITH NO EFFORT AT ALL</h2>

		<a href="#"><button class="color">Edit</button></a>
		<div class="js">
			<pre><code data-language="javascript">
can.Control('TodoApp' { }, {
  init: function() {
    this.element.html(
      can.view('./app.mustache',
          this.options)
    );
  }
});

new TodoApp('#todos', {
  todos: [
    'Wash the dishes',
    'Take out the trash'
  ]
});
			</code></pre>
		</div>
		<div class="html">
			<pre><code data-language="html">
&lt;h3&gt;To-Do App:&lt;/h3&gt;
&lt;ul&gt;
  &lt;% can.each(todos, function(todo) { %&gt;
  &lt;li&gt;<%= todo %>&lt;/li&gt;
  &lt;% }) %&gt;
&lt;/ul&gt;
			</code></pre>
		</div>
		<div class="result">
<h3>To Do App:</h3>
<ul>
	<li>Wash the dishes</li>
	<li>Take out the trash</li>
</ul>
		</div>
		<br/>
	</div>
	<!-- .container -->

	<div class="container projects">
		<h1>Used In These Projects</h1>
	</div>
	<!-- .container -->

	<div class="light">
		<div class="container projects">
			<ul class="carousel">
				<li><a href="http://bithub.com/events/51241d0e55d8ad0200000078"><img class="grey" src="../img/home-carousel/mindjet.jpg"/>Mindjet Web App</a></li>
				<li><a href="http://bithub.com/events/5124203855d8ad0200000081"><img class="grey" src="../img/home-carousel/snowhit.jpg"/>Snowhit</a></li>
				<li><a href="http://bithub.com/events/51256a323a6c2302000001f5"><img class="grey" src="../img/home-carousel/laureate.jpg"/>Laureate.net</a></li>
				<li><a href="http://bithub.com/events/5124177155d8ad0200000073"><img class="grey" src="../img/home-carousel/iksonjumbo.jpg"/>Ikson Jumbo</a></li>
				<li><a href="http://bithub.com/events/51241fd055d8ad020000007d"><img class="grey" src="../img/home-carousel/bootswatchr.jpg"/>Bootswatchr</a></li>
			</ul>
		</div>
		<!-- .container -->
	</div>
	<!-- .light -->

	<div class="color get-started">
		<div class="container">
			<h1>Get Started</h1>

			<h2>You'll be up and running in no time</h2>
			<ul class="wizard">
				<li class="download"><a href="{{link.download}}">Download</a></li>
				<li class="guide"><a href="{{link.guides}}">Read the Guide</a></li>
				<li class="video"><a href="#video">Watch this Video</a></li>
			</ul>
		</div>
		<!-- .container -->
	</div>
	<!-- .color -->
</div><!-- .content -->
