<div class="hero">
  <div class="container">

    <h1>Build better apps, faster</h1>

    <div id="hero-download" class="pull-right">
      <a href="{{self.repository.github}}/archive/v{{package.version}}.zip">
        <button class="download">Download {{package.version}}<span>(One file. Everything you need.)</span></button>
      </a>
      {{! heroDownloadContainer.mustache}}
    </div>

  </div>
</div>

<div class="content">
	<div class="container benefits">
	
		<ul class="benefit-tabs">
			<li class="flexible"><a href="guides/Why.html#Flexible">
			<h3>Flexible</h3>
			<p>Works with jQuery, Dojo, Mootools, YUI, and Zepto. Reuse your existing templates.</p>
			</a>
			
			</li><li class="powerful"><a href="guides/Why.html#Powerful">
			<h3>Powerful</h3>
			<p>Live binding, restful models, observables, declarative events, and memory safety.</p>
			</a>
			
			</li><li class="fast"><a href="guides/Why.html#Fast">
			<h3>Fast</h3>
			<p>Fast templates, responsive widgets, and you can learn it in a day.</p>
			</a>
			
		</li></ul>
		
		<p>CanJS is a JavaScript library that makes developing complex applications simple and fast. Easy-to-learn, small, and unassuming of your application structure, but with modern features like live-binding and computed values. Creating apps is easy and maintainable.</p>
 
  </div>

  <div class="container twitter">

    <a href="https://twitter.com/canjs" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @canjs</a>

    <iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

    <iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

  </div>

  <div class="dark social">
    <div class="container">
        <ul class="social-stats">
    		<li class="irc"><a href="http://bithub.com/greatest/canjs/article">articles</a></li>
    		<li class="apps"><a href="http://bithub.com/greatest/canjs/app">apps submitted</a></li>
  			<li class="plugins"><a href="http://bithub.com/greatest/canjs/plugin">plugins submitted</a></li>
    		<li class="forums"><a href="http://bithub.com/greatest/canjs/question">forum posts</a></li>
  			<li class="commits"><a href="http://bithub.com/greatest/canjs/code">commits</a></li>
  		</ul>
    </div>
  </div>

  <div class="container example">
    <h1>Simple To Use</h1>
    <h2>Observables and live binding do the work for you.</h2>

    <a href="http://jsfiddle.net/xKc3H/13/" target="_blank"><button class="color">Edit</button></a>
    <pre class="code prettyprint lang-js" style="overflow-x: hidden;">
var Todo = can.Model.extend({
  findAll: 'GET /todos',
  findOne: 'GET /todos/{id}',
  update: 'PUT /todos/{id}',
  destroy: 'DELETE /todos/{id}'
}, {});

var TodoBoard = can.Control.extend({
  init: function() {
    this.element.html(can.view('todoBoard',
      new Todo.List({})));
  },
  'input[type=checkbox] change': function(el, ev) {
    el.parent().data('todo').attr('done',
      el.prop('checked')).save();
  },
  '.delete click': function(el, ev) {
    el.parent().data('todo').destroy();
  },
  '.description click': function(el, ev) {
    can.route.attr('id',
      el.parent().data('todo').id);
  }
});

var TodoEditor = can.Control.extend({
  setTodo: function(todo) {
    this.options.todo = todo;
    this.on();
    this.element.html(can.view('todoEditor',
      this.options.todo));
   },
  'input change': function(el, ev) {
    this.element.find('.spinner')
      .removeClass('hidden');
    this.options.todo.attr('description',
      el.val()).save();
  },
  '{todo} updated': function() {
    this.element.find('.spinner')
      .addClass('hidden');
  },
  '{todo} destroyed': function() {
    can.route.removeAttr('id');
  }
});

var Routing = can.Control.extend({
  init: function() {
    can.route('todos/:id');
    new TodoBoard($('#board'));
    this.editor = new TodoEditor($('#editor'));
    $('#editor').hide();
  },
  'todos/:id route': function(data) {
    if(data.id) {
      var editor = this.editor;
      Todo.findOne({id: data.id}, function(todo) {
        editor.setTodo(todo);
        editor.element.show();
      });
    } else {
      $('#editor').hide();
    }
  }
});
    </pre>
    <pre class="template prettyprint lang-html" style="overflow: hidden;">
&lt;script type="text/mustache" id="todoBoard"&gt;
\{{#if length}}
&lt;ul&gt;
\{{#this}}
  &lt;li \{{data 'todo'}}&gt;
    &lt;input type="checkbox"
      \{{#if done}}checked="checked"\{{/if}}/&gt;
    &lt;span class="description
        \{{#if done}}done\{{/if}}"&gt;
      \{{description}}
    &lt;/span&gt;
    &lt;span class="delete"&gt;&times;&lt;/span&gt;
  &lt;/li&gt;
\{{/this}}
&lt;/ul&gt;
\{{else}}
&lt;div class="no-todos"&gt;No to-dos today.
  You're free!&lt;/div&gt;
\{{/if}}
&lt;/script&gt;  
&lt;script type="text/mustache" id="todoEditor"&gt;
  &lt;input type="text"
    value="\{{description}}"/&gt;
  &lt;img class="spinner hidden"
    src="spinny.gif"/&gt;
&lt;/script&gt;
    </pre>
    <iframe class="result" src="example/example.html"></iframe>
    <br/>
  </div>

  <div class="container projects">
    <h1>Used In These Projects</h1>
  </div>

  <div class="light">
    <div class="container projects">
      <ul class="carousel">
        <li><a href="http://www.cars.com"><img src="{{root}}img/home-carousel/carscom.jpg"/><div>Cars.com</div></a></li>
        <li><a href="http://www.mindjet.com/products/mindjet-for-web/?lang=en"><img src="{{root}}img/home-carousel/mindjet.jpg"/><div>Mindjet Web App</div></a></li>
        <li><a href="http://snowhit.com/"><img src="{{root}}img/home-carousel/snowhit.jpg"/><div>Snowhit</div></a></li>
        <li><a href="http://global.laureate.net/"><img src="{{root}}img/home-carousel/laureate.jpg"/><div>Laureate.net</div></a></li>
        <!-- <li><a href="https://jumbo.iskon.hr"><img src="{{root}}img/home-carousel/iskonjumbo.jpg"/><div>Iskon Jumbo</div></a></li> -->
        <li><a href="http://bootswatchr.com/"><img src="{{root}}img/home-carousel/bootswatchr.jpg"/><div>Bootswatchr</div></a></li>
      </ul>
    </div>
  </div>

  <div class="color get-started">
    <div class="container">
      <h1>Get Started</h1>

      <h2>You'll be up and running in no time</h2>
      <ul class="wizard">
        <li class="download"><a href="download.html">Download</a></li>
        <li class="guide"><a href="guides/index.html">Read the Guide</a></li>
        <li class="video"><a href="http://youtu.be/GdT4Oq6ZQ68">Watch this Video</a></li>
      </ul>
    </div>
  </div>
</div>