  <ul class="circle-tabs">
    <li class="flexible"><a>Flexible</a></li>
    <li class="powerful"><a>Powerful</a></li>
    <li class="fast"><a>Fast</a></li>
  </ul>
  <div class="tab-description {{quality}}">{{tagline}}</div>