<div class="bithub-post">
<div class="pull-left score">263</div>
	<div class="bithub-content">
	<div class="twitter-profile-pic pull-left">
	  <a href=""><img src="http://a0.twimg.com/profile_images/3331969283/925cdc96505e06d3cbfb5dd8a087b822_normal.jpeg" alt=""></a>
	</div>
		<h2>Really Great Title<span class="award">+100</span></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales iaculis neque, nec commodo magna lacinia id. In congue volutpat arcu, vel aliquam nibh volutpat ut.<a href="">+</a></p>
		<div class="bithub-footer"><a href="">Tom Greever</a> / 02/02/2013 via <a href="">github</a></div>
	</div>
</div>