<div class="bithub-post">
<div class="pull-left score">{{points}}</div>
	<h2><a href="{{link}}">{{title}}</a></h2>
	<p>{{{body}}}<a href="{{link}}">+</a></p>
	<div class="bithub-footer"><a href="http://bithub.com/users/{{actorID}}">{{actor}}</a> / {{formatDate date}} via <a href="{{link}}">{{feed}}</a></div>
</div>