<button class="download">Download 1.1.4 <span>(Zip file. Everything you need.)</span></button>
<button class="customize">Customize <span class="arrow down"></span></button>
<div class="customize-box">
	<div class="general-options">
		<select class="library">
			<option value="jQuery">jQuery</option>
		</select>
		<input id="separateFiles" type="checkbox" {{#seperateFiles}}checked="checked"{{/seperateFiles}}><label>Separate Files</label>
		<input id="minified" type="checkbox" {{#minified}}checked="checked"{{/minified}}><label>Minified</label>
	</div>
	<div class="half">
		{{#core}}
		<div class="checkbox-wrap"><input id="{{id}}" type="checkbox" {{#checked}}checked="checked"{{/checked}}/><label>{{name}}</label></div>
		{{/core}}
	</div>
	<div class="half">
		{{#plugins}}
		<div class="checkbox-wrap"><input id="{{id}}" type="checkbox" {{#checked}}checked="checked"{{/checked}}/><label>{{name}}</label></div>
		{{/plugins}}
	</div>
	<button class="color" type="submit">Download</button>
</div>
<p class="button-desc">Works with: JQuery, Zepto, Dojo, Mootools, YUI</p>