<div class="tab-description irc">
	<div class="pull-right categories">
		
		<a href="#" class="button">Join the Chat</a>
		
		<ul><h4>Currently Online</h4>
			<li>tomgreever</li>
			<li>someone</li>
			<li>rabies423</li>
			<li>junkinyourtrunk</li>
			<li>canjsbot</li>
			<li>@bitovi</li>
			<li>me</li>
		</ul>
	</div>
	<h1>Real-Time Chat</h1>
	<h2>Freenode IRC Channel <a href=""></a>#canjs</a></h2>
	
	<div class="irc-chat-container">
			<div><span class="username">schovi</span>: !ask Found bug in current release. can.jquery-all.min.js is not minified at all :) Actuallly it is complete with comments</div>
			<div><span class="username">foxdonut</span>: hehe yes is known issue I believe</div>
</div>

</div><!-- .tab-description -->