<div class="tab-description irc">
	<h1>Real-Time Chat</h1>
	<h2>Freenode IRC Channel <a href="http://webchat.freenode.net/?channels=canjs">#canjs</a></h2>
	<div class="pull-right categories">
		<a href="http://webchat.freenode.net/?channels=canjs" class="button">Join the Chat</a>
		<!--<ul><h4>Currently Online</h4>
			<li>tomgreever</li>
			<li>someone</li>
			<li>rabies423</li>
			<li>junkinyourtrunk</li>
			<li>canjsbot</li>
			<li>@bitovi</li>
			<li>me</li>
		</ul>-->
	</div>
	{{#chats}}
	{{>../_templates/chat.mustache}}
	{{/chats}}
</div><!-- .tab-description -->