<div class="tab-description issues">
	<div class="pull-right categories">
		
		<a href="#" class="button">+ New Issue</a>
		
		<ul class="follower-badges"><h4>Today</h4>
			<li class="watch">3 people started watching <a href="">canjs</a></li>
			<li class="forked">2 people forked <a href="">canjs</a></li>
		</ul>
		
		<div class="center">
		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=watch&count=true"
		        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=canjs&type=fork&count=true"
		        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
		</div><!-- center -->
	</div><!-- categories -->
			
	<div class="posts">
		<h1>Top Issues</h1>
		
		<div class="bithub-content">
		<p>BitHub content will be populated here. The top 3 posts</p>
		
		</div>


	</div>
</div>