		<div class="tab-description plugins">
			<div class="pull-right categories">
				
				<a href="#" class="button">+ New App or Plugin</a>
				
				<ul>
					<li><a href="">Articles (24)</a></li>
					<li><a href="">Apps (2)</a></li>
					<li><a href="">Plugins (4)</a></li>
				</ul>
			</div>
			<div class="posts">
				<h1>Top Articles, Apps, & Plugins</h1>
				
				<div class="bithub-content">
				<p>BitHub content will be populated here. The top 3 posts</p>
				
				</div>


			</div>

		</div><!-- .tab-description -->