<div class="container">
  <ul class="social-stats">
    <li class="apps"><a href="#apps">{{appsSubmitted}} apps submitted</a></li>
    <li class="commits"><a href="#commits">{{recentCommits}} recent commits</a></li>
    <li class="forums"><a href="#forums">{{forumPosts}} new forum posts</a></li>
    <li class="irc"><a href="#irc">{{ircPeople}} people on IRC</a></li>
    <li class="plugins"><a href="#plugins">{{pluginsSubmitted}} plugins submitted</a></li>
  </ul>
</div><!-- .container -->