<div class="bithub-post tweet">
	<div class="pull-left score">{{points}}</div>
	<div class="twitter-profile-pic pull-left">
		<a href="http://twitter.com/{{handle}}"><img src="{{picture}}" alt=""/></a>
	</div>
	<h2><a class="name" href="http://twitter.com/{{handle}}">{{realName}}</a><a class="handle" href="http://twitter.com/{{handle}}"> @{{handle}}</a></h2>
	<p>{{body}}</p>
	<div class="bithub-footer">{{formatDate date}} via <a href="{{link}}">{{feed}}</a></div>
</div>