<div class="tab-description twitter">
	<div class="posts">
		<h1>Top User Tweets</h1>
			<div class="bithub-content">
				<p>BitHub content will be populated here. The top 3 posts</p>
			</div>

	</div>
</div>