<div class="tab-description twitter">
	<div class="pull-right categories">
		<a href="http://twitter.com/canjs" class="button">Follow CanJS on Twitter</a>
	</div><!-- categories -->
	<div class="posts">
		<h1>Top User Tweets</h1>
		<div class="bithub-content">
			{{#tweets}}
			{{>../_templates/tweet.mustache}}
			{{/tweets}}
		</div>
	</div>
</div>