<ul class="api">
	<!-- First Level -->
	{{#firstLevelChildren}}
	   <li class="search-container{{#hasOrIsActive}} active{{/hasOrIsActive}}">
	   		<a href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
				{{getTitle}}
			</a>
			{{#hasOrIsActive}}
				{{> active-menu.mustache}}
			{{/hasOrIsActive}}
	   </li>
	{{/firstLevelChildren}}
</ul>