<div class="tab-description forums">
  <div class="pull-right">
    <a href="https://forum.javascriptmvc.com/#filter/discussions" class="button"><span class="icon-chat"></span>Join the Discussion</a>
  </div><!-- categories -->
  <div class="posts">
    <div class="bithub-content">
      {{#forumPosts}}
        <div>
        <h2><a href={{link}}>{{title}}</a></h2>
        {{{body}}}
        </div>
      {{/forumPosts}}
    </div>
  </div>
  <br class="clear" />
</div>