<ul class="api">
	{{#menu.children}}
	<li {{#active}}class="active"{{/active}}>
	<a href="{{makeHref name}}">{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}</a>
	{{#if children.length}}
	<ul>
	{{#children}}
		{{#if children.length}}
			<li class="heading">
				<span>{{type}}</span>
				<ul>
					{{> submenu.mustache}}
				</ul>
			</li>
		{{else}}
			{{> submenu.mustache}}
		{{/if}}
	{{/children}}
	</ul>
	{{/if}}
	</li>
	{{/menu.children}}
</ul>