<h2>{{code}}</h2>
{{{docLinks description}}}
{{#if params}}
	<h3>Parameters</h3>

	<ol class="parameters">
		{{#params}}
		<li class="parameter">
			<h4>{{name}} {{#if types}}<code>{{makeTypesString types}}</code>{{/if}}</h4>
			<div class="description">
				<p>{{{docLinks description}}}</p>
			</div>
			<!--
			<ul class="options">
				{{#if types.length}}
				<li class="option">
					<h5>{{#if types}}<code>{{makeTypesString types}}</code>{{/if}}</h5>
					<div class="description">
						{{{description}}}
					</div>
				</li>
				{{/if}}
			</ul>
			-->
		</li>
		{{/params}}
	</ol>
{{/if}}
{{#if returns}}
	<h3>Returns</h3>
	<div class="returns">
		<h4><code>{{makeTypesString returns.types}}</code></h4>
		<div class="description">
			{{{docLinks returns.description}}}
		</div>
	</div>
{{/if}}