{{#if children.length}}
<ul>
	{{#children}}
	{{^if hide}}
	<li class="{{#active}}active{{/active}} {{#children.length}}parent expanded{{/children.length}}"
	    data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
			<a href="{{makeHref name}}">
				{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}
				{{#if children.length}}
					{{> submenu.mustache}}
				{{/if}}
			</a>
	</li>
	{{/if}}
	{{/children}}
</ul>
{{else}}
{{^if hide}}
<li {{#active}}class="active"{{/active}} data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
<a href="{{makeHref name}}">
	{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}
</a>
</li>
{{/if}}
{{/if}}
