<div class="pull-right">
	<ul class="tags">
		<li>{{type}}</li>
	</ul>
	<ul class="links">
		{{#if src}}
			<li><a href="{{sourceUrl src type line}}">source</a></li>
		{{/if}}
		{{#if download}}
			<li><a href="{{downloadUrl download}}">download</a></li>
		{{/if}}
		{{#if test}}
			<li><a href="{{testUrl test}}">tests</a></li>
		{{/if}}
	</ul>
</div>
{{#if title}}
	<h1>{{title}}</h1><!-- <span class="module">{{name}}</span>-->
{{else}}
	<h1>{{{name}}}</h1>
{{/if}}

{{#if inherits}}
<span class="inherits"><a href="{{makeHref inherits}}">{{inherits}}</a></span>
{{/if}}
