<!DOCTYPE html>

<html>
<head>
  <title>mustache_helpers.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page">
            
              
              <a class="source" href="html_section.html">
                html_section.js
              </a>
            
              
              <a class="source" href="mustache_core.html">
                mustache_core.js
              </a>
            
              
              <a class="source" href="mustache_helpers.html">
                mustache_helpers.js
              </a>
            
              
              <a class="source" href="stache.html">
                stache.js
              </a>
            
              
              <a class="source" href="text_section.html">
                text_section.js
              </a>
            
              
              <a class="source" href="utils.html">
                utils.js
              </a>
            
          </div>
        </li>
      </ul>
    
    <ul class="sections">
        
          <li id="title">
              <div class="annotation">
                  <h1>mustache_helpers.js</h1>
              </div>
          </li>
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              
            </div>
            
            <div class="content"><div class='highlight'><pre>steal(<span class="hljs-string">"can/util"</span>, <span class="hljs-string">"./utils.js"</span>,<span class="hljs-string">"can/view/live"</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(can, utils, live)</span></span>{
	live = live || can.view.live;
	
	<span class="hljs-keyword">var</span> resolve = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(value)</span> </span>{
		<span class="hljs-keyword">if</span> (utils.isObserveLike(value) &amp;&amp; utils.isArrayLike(value) &amp;&amp; value.attr(<span class="hljs-string">'length'</span>)) {
			<span class="hljs-keyword">return</span> value;
		} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (can.isFunction(value)) {
			<span class="hljs-keyword">return</span> value();
		} <span class="hljs-keyword">else</span> {
			<span class="hljs-keyword">return</span> value;
		}
	};
	
	<span class="hljs-keyword">var</span> helpers = {
		<span class="hljs-string">"each"</span>: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(items, options)</span></span>{
			<span class="hljs-keyword">var</span> resolved = resolve(items),
				result = [],
				keys,
				key,
				i;
			
			<span class="hljs-keyword">if</span>( resolved <span class="hljs-keyword">instanceof</span> can.List || (items &amp;&amp; items.isComputed &amp;&amp; resolved === <span class="hljs-literal">undefined</span>)) {
				<span class="hljs-keyword">return</span> <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(el)</span></span>{
					<span class="hljs-keyword">var</span> cb = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(item, index, parentNodeList)</span> </span>{
								
						<span class="hljs-keyword">return</span> options.fn(options.scope.add({
								<span class="hljs-string">"@index"</span>: index
							}).add(item), options.options, parentNodeList);
							
					};
					live.list(el, items, cb, options.context, el.parentNode, options.nodeList);
				};
			}
			
			<span class="hljs-keyword">var</span> expr = resolved;

			<span class="hljs-keyword">if</span> ( !! expr &amp;&amp; utils.isArrayLike(expr)) {
				<span class="hljs-keyword">for</span> (i = <span class="hljs-number">0</span>; i &lt; expr.length; i++) {
					result.push(options.fn(options.scope.add({
							<span class="hljs-string">"@index"</span>: i
						})
						.add(expr[i])));
				}
			} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (utils.isObserveLike(expr)) {
				keys = can.Map.keys(expr);</pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <p>listen to keys changing so we can livebind lists of attributes.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>
				<span class="hljs-keyword">for</span> (i = <span class="hljs-number">0</span>; i &lt; keys.length; i++) {
					key = keys[i];
					result.push(options.fn(options.scope.add({
							<span class="hljs-string">"@key"</span>: key
						})
						.add(expr[key])));
				}
			} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (expr <span class="hljs-keyword">instanceof</span> <span class="hljs-built_in">Object</span>) {
				<span class="hljs-keyword">for</span> (key <span class="hljs-keyword">in</span> expr) {
					result.push(options.fn(options.scope.add({
							<span class="hljs-string">"@key"</span>: key
						})
						.add(expr[key])));
				}
				
			}
			<span class="hljs-keyword">return</span> result;
			
		},
		<span class="hljs-string">'if'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(expr, options)</span> </span>{
			<span class="hljs-keyword">var</span> value;</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <p>if it’s a function, wrap its value in a compute
that will only change values from true to false</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">if</span> (can.isFunction(expr)) {
				value = can.compute.truthy(expr)();
			} <span class="hljs-keyword">else</span> {
				value = !! resolve(expr);
			}

			<span class="hljs-keyword">if</span> (value) {
				<span class="hljs-keyword">return</span> options.fn(options.scope || <span class="hljs-keyword">this</span>);
			} <span class="hljs-keyword">else</span> {
				<span class="hljs-keyword">return</span> options.inverse(options.scope || <span class="hljs-keyword">this</span>);
			}
		},
		<span class="hljs-string">'unless'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(expr, options)</span> </span>{
			<span class="hljs-keyword">return</span> helpers[<span class="hljs-string">'if'</span>].apply(<span class="hljs-keyword">this</span>, [can.isFunction(expr) ? can.compute(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> </span>{ <span class="hljs-keyword">return</span> !expr(); }) : !expr, options]);
		},
		<span class="hljs-string">'with'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(expr, options)</span> </span>{
			<span class="hljs-keyword">var</span> ctx = expr;
			expr = resolve(expr);
			<span class="hljs-keyword">if</span> ( !! expr) {
				<span class="hljs-keyword">return</span> options.fn(ctx);
			}
		},
		<span class="hljs-string">'log'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(expr, options)</span> </span>{
			<span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">console</span> !== <span class="hljs-string">"undefined"</span> &amp;&amp; <span class="hljs-built_in">console</span>.log) {
				<span class="hljs-keyword">if</span> (!options) {
					<span class="hljs-built_in">console</span>.log(expr.context);
				} <span class="hljs-keyword">else</span> {
					<span class="hljs-built_in">console</span>.log(expr, options.context);
				}
			}
		},
		<span class="hljs-string">'data'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(attr)</span></span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <p>options will either be the second or third argument.
Get the argument before that.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">var</span> data = <span class="hljs-built_in">arguments</span>.length === <span class="hljs-number">2</span> ? <span class="hljs-keyword">this</span> : <span class="hljs-built_in">arguments</span>[<span class="hljs-number">1</span>];
			<span class="hljs-keyword">return</span> <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(el)</span></span>{
				
				can.data( can.$(el), attr, data || <span class="hljs-keyword">this</span>.context );
			};
		}
	};
	
	<span class="hljs-keyword">return</span> {
		registerHelper: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(name, callback)</span></span>{
			helpers[name] = callback;
		},
		getHelper: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(name, options)</span></span>{
			<span class="hljs-keyword">var</span> helper = options.attr(<span class="hljs-string">"helpers."</span> + name);
			<span class="hljs-keyword">if</span>(!helper) {
				helper = helpers[name];
			}
			<span class="hljs-keyword">if</span>(helper) {
				<span class="hljs-keyword">return</span> {fn: helper};
			}
		}
	};
	
});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
