<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{docsetTitle}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" type="text/css" 
    {{#staticLocation}}
      href="{{.}}production.css"
    {{else}}
      href='./static/production.css'
    {{/staticLocation}} />
</head>

<body class="{{page}}">

  {{{content}}}

  <footer>
    <nav class="container">
      <a class="brand javascriptmvc" href="#"></a>
    </nav>
  </footer>
  <script type="text/javascript">
    window.docConfig = {{{config}}};
    window.Bitovi = {
      URL: {
        BUILDER: '{{url.builder}}',
        BUILDER_DATA: '{{url.builderData}}',
        BITHUB: '{{url.bithub}}',
        CDN: '{{url.cdn}}'
      }
    }
    steal = {
      productionId: "production.js",
      executed: ["documentjs/site/static/build/production.css"]
    }
  </script>
  <script 
  {{#staticLocation}}
    src="{{.}}steal.production.js"
  {{else}}
    src="./static/steal.production.js"
  {{/staticLocation}}
    ></script>
</body>

</html>
