<div class="tab-description forums">
	<div class="posts">
		<h1>Recent Posts</h1>
		<div class="bithub-content">
		{{#forumPosts}}
		{{>docs/static/templates/forumPost.mustache}}
		{{/forumPosts}}
		{{^forumPosts}}
		<div class="loading"/>
		{{/forumPosts}}
		</div>
	</div>
	<br class="clear" />
</div><!-- .tab-description -->