<!DOCTYPE html>

<html>
<head>
  <title>bindings.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
    <ul class="sections">
        
          <li id="title">
              <div class="annotation">
                  <h1>bindings.js</h1>
              </div>
          </li>
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              
            </div>
            
            <div class="content"><div class='highlight'><pre>steal(<span class="hljs-string">"can/util"</span>, <span class="hljs-string">"can/view/mustache"</span>, <span class="hljs-string">"can/control"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(can)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <p>IE &lt; 8 doesn’t support .hasAttribute, so feature detect it.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>	<span class="hljs-keyword">var</span> hasAttribute = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(el, name)</span> </span>{
		<span class="hljs-keyword">return</span> el.hasAttribute ? el.hasAttribute(name) : el.getAttribute(name) !== <span class="hljs-literal">null</span>;
	};

	<span class="hljs-comment">/**
	 * @function can.view.bindings.can-value can-value
	 * @parent can.view.bindings
	 *
	 * Sets up two way bindings in a template.
	 *
	 * @signature `can-value='KEY'`
	 *
	 * Binds the element's value or checked property to the value specified by
	 * key. Example:
	 *
	 *     &lt;input type='text' can-value='first.name'/&gt;
	 *
	 * @param {can.Mustache.key} key A named value in the current scope.
	 *
	 * @body
	 *
	 * ## Use
	 *
	 * Add a `can-value="KEY"` attribute to an input or select element and
	 * the element's value will be cross-bound to an observable value specified by `KEY`.
	 *
	 * Depending on the element and the element's type, `can-value` takes on
	 * different behaviors.  If an input element has a type
	 * not listed here, the behavior is the same as the `text` type.
	 *
	 * ## input type=text
	 *
	 * Cross binds the input's string text value with the observable value.
	 *
	 * @demo can/view/bindings/hyperloop.html
	 *
	 * ## input type=checkbox
	 *
	 * Cross binds the checked property to a true or false value. An alternative
	 * true and false value can be specified by setting `can-true-value` and
	 * `can-false-value` attributes.
	 *
	 * @demo can/view/bindings/input-checkbox.html
	 *
	 * ## input type='radio'
	 *
	 * If the radio element is checked, sets the observable specified by `can-value` to match the value of
	 * `value` attribute.
	 *
	 * @demo can/view/bindings/input-radio.html
	 *
	 * ## select
	 *
	 * Cross binds the selected option value with an observable value.
	 *
	 * @demo can/view/bindings/select.html
	 *
	 */</span>
	can.view.Scanner.attribute(<span class="hljs-string">"can-value"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data, el)</span> </span>{

		<span class="hljs-keyword">var</span> attr = el.getAttribute(<span class="hljs-string">"can-value"</span>),
			value = data.scope.computeData(attr, {
				args: []
			})
				.compute;

		<span class="hljs-keyword">if</span> (el.nodeName.toLowerCase() === <span class="hljs-string">"input"</span>) {
			<span class="hljs-keyword">var</span> trueValue, falseValue;
			<span class="hljs-keyword">if</span> (el.type === <span class="hljs-string">"checkbox"</span>) {
				<span class="hljs-keyword">if</span> (hasAttribute(el, <span class="hljs-string">"can-true-value"</span>)) {
					trueValue = data.scope.compute(el.getAttribute(<span class="hljs-string">"can-true-value"</span>));
				} <span class="hljs-keyword">else</span> {
					trueValue = can.compute(<span class="hljs-literal">true</span>);
				}
				<span class="hljs-keyword">if</span> (hasAttribute(el, <span class="hljs-string">"can-false-value"</span>)) {
					falseValue = data.scope.compute(el.getAttribute(<span class="hljs-string">"can-false-value"</span>));
				} <span class="hljs-keyword">else</span> {
					falseValue = can.compute(<span class="hljs-literal">false</span>);
				}
			}

			<span class="hljs-keyword">if</span> (el.type === <span class="hljs-string">"checkbox"</span> || el.type === <span class="hljs-string">"radio"</span>) {
				<span class="hljs-keyword">new</span> Checked(el, {
					value: value,
					trueValue: trueValue,
					falseValue: falseValue
				});
				<span class="hljs-keyword">return</span>;
			}
		}

		<span class="hljs-keyword">new</span> Value(el, {
			value: value
		});
	});

	<span class="hljs-keyword">var</span> special = {
		enter: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data, el, original)</span> </span>{
			<span class="hljs-keyword">return</span> {
				event: <span class="hljs-string">"keyup"</span>,
				handler: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(ev)</span> </span>{
					<span class="hljs-keyword">if</span> (ev.keyCode === <span class="hljs-number">13</span>) {
						<span class="hljs-keyword">return</span> original.call(<span class="hljs-keyword">this</span>, ev);
					}
				}
			};
		}
	};

	<span class="hljs-comment">/**
	 * @function can.view.bindings.can-EVENT can-EVENT
	 * @parent can.view.bindings
	 *
	 * @signature `can-EVENT='KEY'`
	 *
	 * Specify a callback function to be called on a particular event.
	 *
	 * @param {String} EVENT A event name like `click` or `keyup`.  If you are
	 * using jQuery, you can listen to jQuery special events too.
	 *
	 * @param {can.Mustache.key} key A named value in the current scope.  The value
	 * should be a function.
	 *
	 * @body
	 *
	 * ## Use
	 *
	 * By adding `can-EVENT='KEY'` to an element, the function pointed to
	 * by `KEY` is bound to the element's `EVENT` event. The function
	 * is called back with:
	 *
	 *  - `context` - the context of the element
	 *  - `element` - the element that was bound
	 *  - `event` - the event that was triggered
	 *
	 * @demo can/view/bindings/can-event.html
	 *
	 */</span>
	can.view.Scanner.attribute(<span class="hljs-regexp">/can-[\w\.]+/</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data, el)</span> </span>{

		<span class="hljs-keyword">var</span> attributeName = data.attr,
			event = data.attr.substr(<span class="hljs-string">"can-"</span>.length),
			handler = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(ev)</span> </span>{
				<span class="hljs-keyword">var</span> attr = el.getAttribute(attributeName),
					scopeData = data.scope.read(attr, {
						returnObserveMethods: <span class="hljs-literal">true</span>,
						isArgument: <span class="hljs-literal">true</span>
					});
				<span class="hljs-keyword">return</span> scopeData.value.call(scopeData.parent, data.scope._context, can.$(<span class="hljs-keyword">this</span>), ev);
			};

		<span class="hljs-keyword">if</span> (special[event]) {
			<span class="hljs-keyword">var</span> specialData = special[event](data, el, handler);
			handler = specialData.handler;
			event = specialData.event;
		}

		can.bind.call(el, event, handler);
	});

	<span class="hljs-keyword">var</span> Value = can.Control.extend({
		init: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
			<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].nodeName.toUpperCase() === <span class="hljs-string">"SELECT"</span>) {</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <p>need to wait until end of turn …</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				setTimeout(can.proxy(<span class="hljs-keyword">this</span>.set, <span class="hljs-keyword">this</span>), <span class="hljs-number">1</span>);
			} <span class="hljs-keyword">else</span> {
				<span class="hljs-keyword">this</span>.set();
			}

		},
		<span class="hljs-string">"{value} change"</span>: <span class="hljs-string">"set"</span>,
		set: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <p>this may happen in some edgecases, esp. with selects that are not in DOM after the timeout has fired</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">if</span> (!<span class="hljs-keyword">this</span>.element) {
				<span class="hljs-keyword">return</span>;
			}

			<span class="hljs-keyword">var</span> val = <span class="hljs-keyword">this</span>.options.value();
			<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].value = (<span class="hljs-keyword">typeof</span> val === <span class="hljs-string">'undefined'</span> ? <span class="hljs-string">''</span> : val);
		},
		<span class="hljs-string">"change"</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-5">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-5">&#182;</a>
              </div>
              <p>this may happen in some edgecases, esp. with selects that are not in DOM after the timeout has fired</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">if</span> (!<span class="hljs-keyword">this</span>.element) {
				<span class="hljs-keyword">return</span>;
			}

			<span class="hljs-keyword">this</span>.options.value(<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].value);
		}
	});

	<span class="hljs-keyword">var</span> Checked = can.Control.extend({
		init: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
			<span class="hljs-keyword">this</span>.isCheckebox = (<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].type.toLowerCase() === <span class="hljs-string">"checkbox"</span>);
			<span class="hljs-keyword">this</span>.check();
		},
		<span class="hljs-string">"{value} change"</span>: <span class="hljs-string">"check"</span>,
		<span class="hljs-string">"{trueValue} change"</span>: <span class="hljs-string">"check"</span>,
		<span class="hljs-string">"{falseValue} change"</span>: <span class="hljs-string">"check"</span>,
		check: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
			<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.isCheckebox) {
				<span class="hljs-keyword">var</span> value = <span class="hljs-keyword">this</span>.options.value(),
					trueValue = <span class="hljs-keyword">this</span>.options.trueValue() || <span class="hljs-literal">true</span>;

				<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].checked = (value === trueValue);
			} <span class="hljs-keyword">else</span> {
				<span class="hljs-keyword">var</span> method = <span class="hljs-keyword">this</span>.options.value() === <span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].value ? <span class="hljs-string">"setAttr"</span> : <span class="hljs-string">"removeAttr"</span>;
				can.view.elements[method](<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>], <span class="hljs-string">'checked'</span>, <span class="hljs-literal">true</span>);
			}

		},
		<span class="hljs-string">"change"</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{

			<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.isCheckebox) {
				<span class="hljs-keyword">this</span>.options.value(<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].checked ? <span class="hljs-keyword">this</span>.options.trueValue() : <span class="hljs-keyword">this</span>.options.falseValue());
			} <span class="hljs-keyword">else</span> {
				<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].checked) {
					<span class="hljs-keyword">this</span>.options.value(<span class="hljs-keyword">this</span>.element[<span class="hljs-number">0</span>].value);
				}
			}

		}
	});

});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
