  <ul class="circle-tabs">
    <li class="flexible" data-benefit="flexible"><a href="guides/Why.html">Flexible</a></li>
    <li class="powerful" data-benefit="powerful"><a href="guides/Why.html">Powerful</a></li>
    <li class="fast" data-benefit="fast"><a href="guides/Why.html">Fast</a></li>
  </ul>
  <div class="tab-description {{selectedTab}}">{{tagline}}</div>