  <ul class="circle-tabs">
    <li class="flexible" data-benefit="flexible"><a>Flexible</a></li>
    <li class="powerful" data-benefit="powerful"><a>Powerful</a></li>
    <li class="fast" data-benefit="fast"><a>Fast</a></li>
  </ul>
  <div class="tab-description {{selectedTab}}">{{tagline}}</div>