<div class="container">
  <ul class="social-stats">
    <li class="apps"><a href="#community/plugins">{{appsSubmitted}} apps submitted</a></li>
    <li class="commits"><a href="#community%2Fgithub">{{recentCommits}} recent commits</a></li>
    <li class="forums"><a href="#community%2Fforums">{{forumPosts}} new forum posts</a></li>
    <li class="irc"><a href="#community%2Firc">{{ircPeople}} people on IRC</a></li>
    <li class="plugins"><a href="#community%2Fplugin">{{pluginsSubmitted}} plugins submitted</a></li>
  </ul>
</div><!-- .container -->