<!DOCTYPE html>

<html>
<head>
  <title>component.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
    <ul class="sections">
        
          <li id="title">
              <div class="annotation">
                  <h1>component.js</h1>
              </div>
          </li>
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              
            </div>
            
            <div class="content"><div class='highlight'><pre>steal(<span class="hljs-string">"can/util"</span>, <span class="hljs-string">"can/control"</span>, <span class="hljs-string">"can/observe"</span>, <span class="hljs-string">"can/view/mustache"</span>, <span class="hljs-string">"can/view/bindings"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(can)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <h2 id="helpers">Helpers</h2>
<p>Attribute names to ignore for setting scope values.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>	<span class="hljs-keyword">var</span> ignoreAttributesRegExp = <span class="hljs-regexp">/^(dataViewId|class|id)$/i</span>;
	<span class="hljs-comment">/**
	 * @add can.Component
	 */</span>
	<span class="hljs-keyword">var</span> Component = can.Component = can.Construct.extend(</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <h2 id="static">Static</h2>

            </div>
            
            <div class="content"><div class='highlight'><pre>		<span class="hljs-comment">/**
		 * @static
		 */</span>
		
		{</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <h3 id="setup">setup</h3>
<p>When a component is extended, this sets up the component’s internal constructor
functions and templates for later fast initialization.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			setup: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
				can.Construct.setup.apply(<span class="hljs-keyword">this</span>, <span class="hljs-built_in">arguments</span>);</pre></div></div>
            
        </li>
        
        
        <li id="section-5">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-5">&#182;</a>
              </div>
              <p>Run the following only in constructors that extend can.Component.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">if</span> (can.Component) {
					<span class="hljs-keyword">var</span> self = <span class="hljs-keyword">this</span>;</pre></div></div>
            
        </li>
        
        
        <li id="section-6">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-6">&#182;</a>
              </div>
              <p>Define a control using the <code>events</code> prototype property.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">this</span>.Control = can.Control.extend({</pre></div></div>
            
        </li>
        
        
        <li id="section-7">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-7">&#182;</a>
              </div>
              <p>Change lookup to first look in the scope.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						_lookup: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(options)</span> </span>{
							<span class="hljs-keyword">return</span> [options.scope, options, <span class="hljs-built_in">window</span>];
						}
					},</pre></div></div>
            
        </li>
        
        
        <li id="section-8">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-8">&#182;</a>
              </div>
              <p>Extend <code>events</code> with a setup method that listens to changes in <code>scope</code> and
rebinds all templated event handlers.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					can.extend({
						setup: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(el, options)</span> </span>{
							<span class="hljs-keyword">var</span> res = can.Control.prototype.setup.call(<span class="hljs-keyword">this</span>, el, options);
							<span class="hljs-keyword">this</span>.scope = options.scope;
							<span class="hljs-keyword">var</span> self = <span class="hljs-keyword">this</span>;
							<span class="hljs-keyword">this</span>.on(<span class="hljs-keyword">this</span>.scope, <span class="hljs-string">"change"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handler</span><span class="hljs-params">()</span> </span>{
								self.on();
								self.on(self.scope, <span class="hljs-string">"change"</span>, handler);
							});
							<span class="hljs-keyword">return</span> res;
						}
					}, <span class="hljs-keyword">this</span>.prototype.events));</pre></div></div>
            
        </li>
        
        
        <li id="section-9">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-9">&#182;</a>
              </div>
              <p>Look to convert <code>scope</code> to a Map constructor function.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">if</span> (!<span class="hljs-keyword">this</span>.prototype.scope || <span class="hljs-keyword">typeof</span> <span class="hljs-keyword">this</span>.prototype.scope === <span class="hljs-string">"object"</span>) {</pre></div></div>
            
        </li>
        
        
        <li id="section-10">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-10">&#182;</a>
              </div>
              <p>If scope is an object, use that object as the prototype of an extended 
Map constructor function.
A new instance of that Map constructor function will be created and
set a the constructor instance’s scope.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">this</span>.Map = can.Map.extend(<span class="hljs-keyword">this</span>.prototype.scope || {});
					}
					<span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.prototype.scope.prototype <span class="hljs-keyword">instanceof</span> can.Map) {</pre></div></div>
            
        </li>
        
        
        <li id="section-11">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-11">&#182;</a>
              </div>
              <p>If scope is a can.Map constructor function, just use that.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">this</span>.Map = <span class="hljs-keyword">this</span>.prototype.scope;
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-12">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-12">&#182;</a>
              </div>
              <p>Look for default <code>@</code> values. If a <code>@</code> is found, these
attributes string values will be set and 2-way bound on the
component instance’s scope.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">this</span>.attributeScopeMappings = {};
					can.each(<span class="hljs-keyword">this</span>.Map ? <span class="hljs-keyword">this</span>.Map.defaults : {}, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(val, prop)</span> </span>{
						<span class="hljs-keyword">if</span> (val === <span class="hljs-string">"@"</span>) {
							self.attributeScopeMappings[prop] = prop;
						}
					});</pre></div></div>
            
        </li>
        
        
        <li id="section-13">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-13">&#182;</a>
              </div>
              <p>Convert the template into a renderer function.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.prototype.template) {
						<span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> <span class="hljs-keyword">this</span>.prototype.template === <span class="hljs-string">"function"</span>) {
							<span class="hljs-keyword">var</span> temp = <span class="hljs-keyword">this</span>.prototype.template;
							<span class="hljs-keyword">this</span>.renderer = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
								<span class="hljs-keyword">return</span> can.view.frag(temp.apply(<span class="hljs-literal">null</span>, <span class="hljs-built_in">arguments</span>));
							};
						} <span class="hljs-keyword">else</span> {
							<span class="hljs-keyword">this</span>.renderer = can.view.mustache(<span class="hljs-keyword">this</span>.prototype.template);
						}
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-14">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-14">&#182;</a>
              </div>
              <p>Register this component to be created when its <code>tag</code> is found.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					can.view.Scanner.tag(<span class="hljs-keyword">this</span>.prototype.tag, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(el, options)</span> </span>{
						<span class="hljs-keyword">new</span> self(el, options);
					});
				}

			}
		}, {</pre></div></div>
            
        </li>
        
        
        <li id="section-15">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-15">&#182;</a>
              </div>
              <h2 id="prototype">Prototype</h2>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-comment">/**
			 * @prototype
			 */</span></pre></div></div>
            
        </li>
        
        
        <li id="section-16">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-16">&#182;</a>
              </div>
              <h3 id="setup">setup</h3>
<p>When a new component instance is created, setup bindings, render the template, etc.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			setup: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(el, hookupOptions)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-17">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-17">&#182;</a>
              </div>
              <p>Setup values passed to component</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> initalScopeData = {},
					component = <span class="hljs-keyword">this</span>,
					twoWayBindings = {},</pre></div></div>
            
        </li>
        
        
        <li id="section-18">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-18">&#182;</a>
              </div>
              <p>what scope property is currently updating</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					scopePropertyUpdating,</pre></div></div>
            
        </li>
        
        
        <li id="section-19">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-19">&#182;</a>
              </div>
              <p>the object added to the scope</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					componentScope,
					frag;</pre></div></div>
            
        </li>
        
        
        <li id="section-20">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-20">&#182;</a>
              </div>
              <p>scope prototype properties marked with an “@” are added here</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				can.each(<span class="hljs-keyword">this</span>.constructor.attributeScopeMappings, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(val, prop)</span> </span>{
					initalScopeData[prop] = el.getAttribute(can.hyphenate(val));
				});</pre></div></div>
            
        </li>
        
        
        <li id="section-21">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-21">&#182;</a>
              </div>
              <p>get the value in the scope for each attribute
the hookup should probably happen after?</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				can.each(can.makeArray(el.attributes), <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(node, index)</span> </span>{

					<span class="hljs-keyword">var</span> name = can.camelize(node.nodeName.toLowerCase()),
						value = node.value;</pre></div></div>
            
        </li>
        
        
        <li id="section-22">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-22">&#182;</a>
              </div>
              <p>ignore attributes already in ScopeMappings</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">if</span> (component.constructor.attributeScopeMappings[name] || ignoreAttributesRegExp.test(name) || can.view.Scanner.attributes[node.nodeName]) {
						<span class="hljs-keyword">return</span>;
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-23">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-23">&#182;</a>
              </div>
              <p>ignore attr regexps</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> regAttr <span class="hljs-keyword">in</span> can.view.Scanner.regExpAttributes) {
						<span class="hljs-keyword">if</span> (can.view.Scanner.regExpAttributes[regAttr].match.test(node.nodeName)) {
							<span class="hljs-keyword">return</span>;
						}
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-24">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-24">&#182;</a>
              </div>
              <p>Cross-bind the value in the scope to this 
component’s scope</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">var</span> computeData = hookupOptions.scope.computeData(value, {
						args: []
					}),
						compute = computeData.compute;</pre></div></div>
            
        </li>
        
        
        <li id="section-25">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-25">&#182;</a>
              </div>
              <p>bind on this, check it’s value, if it has dependencies</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">var</span> handler = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(ev, newVal)</span> </span>{
						scopePropertyUpdating = name;
						componentScope.attr(name, newVal);
						scopePropertyUpdating = <span class="hljs-literal">null</span>;
					};</pre></div></div>
            
        </li>
        
        
        <li id="section-26">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-26">&#182;</a>
              </div>
              <p>compute only returned if bindable</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>
					compute.bind(<span class="hljs-string">"change"</span>, handler);</pre></div></div>
            
        </li>
        
        
        <li id="section-27">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-27">&#182;</a>
              </div>
              <p>set the value to be added to the scope</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					initalScopeData[name] = compute();

					<span class="hljs-keyword">if</span> (!compute.hasDependencies) {
						compute.unbind(<span class="hljs-string">"change"</span>, handler);
					} <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-28">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-28">&#182;</a>
              </div>
              <p>make sure we unbind (there’s faster ways of doing this)</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						can.bind.call(el, <span class="hljs-string">"removed"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
							compute.unbind(<span class="hljs-string">"change"</span>, handler);
						});</pre></div></div>
            
        </li>
        
        
        <li id="section-29">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-29">&#182;</a>
              </div>
              <p>setup two-way binding</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						twoWayBindings[name] = computeData;
					}

				});

				<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.constructor.Map) {
					componentScope = <span class="hljs-keyword">new</span> <span class="hljs-keyword">this</span>.constructor.Map(initalScopeData);
				} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.scope <span class="hljs-keyword">instanceof</span> can.Map) {
					componentScope = <span class="hljs-keyword">this</span>.scope;
				} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (can.isFunction(<span class="hljs-keyword">this</span>.scope)) {

					<span class="hljs-keyword">var</span> scopeResult = <span class="hljs-keyword">this</span>.scope(initalScopeData, hookupOptions.scope, el);</pre></div></div>
            
        </li>
        
        
        <li id="section-30">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-30">&#182;</a>
              </div>
              <p>if the function returns a can.Map, use that as the scope</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">if</span> (scopeResult <span class="hljs-keyword">instanceof</span> can.Map) {
						componentScope = scopeResult;
					} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (scopeResult.prototype <span class="hljs-keyword">instanceof</span> can.Map) {
						componentScope = <span class="hljs-keyword">new</span> scopeResult(initalScopeData);
					} <span class="hljs-keyword">else</span> {
						componentScope = <span class="hljs-keyword">new</span>(can.Map.extend(scopeResult))(initalScopeData);
					}

				}
				<span class="hljs-keyword">var</span> handlers = {};</pre></div></div>
            
        </li>
        
        
        <li id="section-31">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-31">&#182;</a>
              </div>
              <p>setup reverse bindings</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				can.each(twoWayBindings, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(computeData, prop)</span> </span>{
					handlers[prop] = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(ev, newVal)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-32">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-32">&#182;</a>
              </div>
              <p>check that this property is not being changed because
it’s source value just changed</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">if</span> (scopePropertyUpdating !== prop) {
							computeData.compute(newVal);
						}
					};
					componentScope.bind(prop, handlers[prop]);
				});</pre></div></div>
            
        </li>
        
        
        <li id="section-33">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-33">&#182;</a>
              </div>
              <p>teardown reverse bindings when element is removed</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				can.bind.call(el, <span class="hljs-string">"removed"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
					can.each(handlers, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(handler, prop)</span> </span>{
						componentScope.unbind(prop, handlers[prop]);
					});
				});

				<span class="hljs-keyword">this</span>.scope = componentScope;
				can.data(can.$(el), <span class="hljs-string">"scope"</span>, <span class="hljs-keyword">this</span>.scope);</pre></div></div>
            
        </li>
        
        
        <li id="section-34">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-34">&#182;</a>
              </div>
              <p>create a real Scope object out of the scope property</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">var</span> renderedScope = hookupOptions.scope.add(<span class="hljs-keyword">this</span>.scope),</pre></div></div>
            
        </li>
        
        
        <li id="section-35">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-35">&#182;</a>
              </div>
              <p>setup helpers to callback with <code>this</code> as the component</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					helpers = {};

				can.each(<span class="hljs-keyword">this</span>.helpers || {}, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(val, prop)</span> </span>{
					<span class="hljs-keyword">if</span> (can.isFunction(val)) {
						helpers[prop] = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
							<span class="hljs-keyword">return</span> val.apply(componentScope, <span class="hljs-built_in">arguments</span>);
						};
					}
				});</pre></div></div>
            
        </li>
        
        
        <li id="section-36">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-36">&#182;</a>
              </div>
              <p>create a control to listen to events</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">this</span>._control = <span class="hljs-keyword">new</span> <span class="hljs-keyword">this</span>.constructor.Control(el, {
					scope: <span class="hljs-keyword">this</span>.scope
				});</pre></div></div>
            
        </li>
        
        
        <li id="section-37">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-37">&#182;</a>
              </div>
              <p>if this component has a template (that we’ve already converted to a renderer)</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>				<span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.constructor.renderer) {</pre></div></div>
            
        </li>
        
        
        <li id="section-38">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-38">&#182;</a>
              </div>
              <p>add content to tags</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					<span class="hljs-keyword">if</span> (!helpers._tags) {
						helpers._tags = {};
					}</pre></div></div>
            
        </li>
        
        
        <li id="section-39">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-39">&#182;</a>
              </div>
              <p>we need be alerted to when a <content> element is rendered so we can put the original contents of the widget in its place</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					helpers._tags.content = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">render</span><span class="hljs-params">(el, rendererOptions)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-40">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-40">&#182;</a>
              </div>
              <p>first check if there was content within the custom tag
otherwise, render what was within <content>, the default code</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>						<span class="hljs-keyword">var</span> subtemplate = hookupOptions.subtemplate || rendererOptions.subtemplate;

						<span class="hljs-keyword">if</span> (subtemplate) {</pre></div></div>
            
        </li>
        
        
        <li id="section-41">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-41">&#182;</a>
              </div>
              <p>rendererOptions.options is a scope of helpers where <code>&lt;content&gt;</code> was found, so
the right helpers should already be available.
However, _tags.content is going to point to this current content callback.  We need to 
remove that so it will walk up the chain</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>
							<span class="hljs-keyword">delete</span> helpers._tags.content;

							can.view.live.replace([el], subtemplate(</pre></div></div>
            
        </li>
        
        
        <li id="section-42">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-42">&#182;</a>
              </div>
              <p>This is the context of where <code>&lt;content&gt;</code> was found
which will have the the component’s context</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>								rendererOptions.scope,

								rendererOptions.options));</pre></div></div>
            
        </li>
        
        
        <li id="section-43">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-43">&#182;</a>
              </div>
              <p>restore the content tag so it could potentially be used again (as in lists)</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>							helpers._tags.content = render;
						}
					};</pre></div></div>
            
        </li>
        
        
        <li id="section-44">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-44">&#182;</a>
              </div>
              <p>render the component’s template</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					frag = <span class="hljs-keyword">this</span>.constructor.renderer(renderedScope, hookupOptions.options.add(helpers));
				} <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-45">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-45">&#182;</a>
              </div>
              <p>otherwise render the contents between the </p>

            </div>
            
            <div class="content"><div class='highlight'><pre>					frag = can.view.frag(hookupOptions.subtemplate ? hookupOptions.subtemplate(renderedScope, hookupOptions.options.add(helpers)) : <span class="hljs-string">""</span>);
				}
				can.appendChild(el, frag);
			}
		});

	<span class="hljs-keyword">if</span> (<span class="hljs-built_in">window</span>.$ &amp;&amp; $.fn) {
		$.fn.scope = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(attr)</span> </span>{
			<span class="hljs-keyword">if</span> (attr) {
				<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.data(<span class="hljs-string">"scope"</span>)
					.attr(attr);
			} <span class="hljs-keyword">else</span> {
				<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.data(<span class="hljs-string">"scope"</span>);
			}
		};
	}

	can.scope = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(el, attr)</span> </span>{
		el = can.$(el);
		<span class="hljs-keyword">if</span> (attr) {
			<span class="hljs-keyword">return</span> can.data(el, <span class="hljs-string">"scope"</span>)
				.attr(attr);
		} <span class="hljs-keyword">else</span> {
			<span class="hljs-keyword">return</span> can.data(el, <span class="hljs-string">"scope"</span>);
		}
	};

	<span class="hljs-keyword">return</span> Component;
});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
