<div class="bithub-post">
	<h5><a href="{{link}}">{{title}}</a></h5>
	<p>{{truncatePost body}} <a  class="" href="{{link}}">more…</a></p>
	<div class="bithub-footer">{{actor}} / {{formatDate date}} via <a href="{{link}}">{{feed}}</a></div>
</div>