<div class="tooltip">
  <div class="bithub-content">
    <div class="content">
      <h2>{{title}}</h2>
      <p>{{truncatePost body}}</p>
      <p class="center"><a class="button" href="{{link}}">{{title}} <span class="icon-arrow"></span></a></p>
    </div>
  </div>
</div>