<div class="carousel">
  <ul class="list">
    {{#each apps}}
    <li {{data 'project'}}><a href="{{link}}"><img src="{{picture}}" height="110" width="158"></a></li>
    {{/each}}
  </ul>
</div>
<div class="content">
<h2>{{current.title}}</h2>
{{{current.body}}}
<p class="center"><a class="button" href="{{current.link}}">{{current.title}} <span class="icon-arrow"></span></a></p>
</div>