<!DOCTYPE html>

<html>
<head>
  <title>elements.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page">
            
              
              <a class="source" href="elements.html">
                elements.js
              </a>
            
              
              <a class="source" href="render.html">
                render.js
              </a>
            
              
              <a class="source" href="scanner.html">
                scanner.js
              </a>
            
              
              <a class="source" href="view.html">
                view.js
              </a>
            
          </div>
        </li>
      </ul>
    
    <ul class="sections">
        
          <li id="title">
              <div class="annotation">
                  <h1>elements.js</h1>
              </div>
          </li>
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              
            </div>
            
            <div class="content"><div class='highlight'><pre>steal(<span class="hljs-string">'can/util'</span>, <span class="hljs-string">"can/view"</span>,<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(can)</span> {</span>

	<span class="hljs-comment">/**
	 * @property {Object} can.view.elements
	 * @parent can.view
	 *
	 * Provides helper methods for and information about the behavior
	 * of DOM elements.
	 */</span>
	<span class="hljs-keyword">var</span> elements = {
		tagToContentPropMap: {
			option: <span class="hljs-string">'textContent'</span> <span class="hljs-keyword">in</span> document.createElement(<span class="hljs-string">'option'</span>) ? <span class="hljs-string">'textContent'</span> : <span class="hljs-string">'innerText'</span>,
			textarea: <span class="hljs-string">'value'</span>
		},
		<span class="hljs-comment">/**
		 * @property {Object.&lt;String,(String|Boolean|function)&gt;} can.view.elements.attrMap
		 * @parent can.view.elements
		 *
		 *
		 * A mapping of
		 * special attributes to their JS property. For example:
		 *
		 *     "class" : "className"
		 *
		 * means get or set `element.className`. And:
		 *
		 *      "checked" : true
		 *
		 * means set `element.checked = true`.
		 *
		 *
		 * If the attribute name is not found, it's assumed to use
		 * `element.getAttribute` and `element.setAttribute`.
		 */</span></pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <p>3.0 TODO: remove</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		attrMap: can.attr.map,</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <p>matches the attrName of a regexp</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		attrReg: <span class="hljs-regexp">/([^\s=]+)[\s]*=[\s]*/</span>,</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <p>3.0 TODO: remove</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		defaultValue: can.attr.defaultValue,</pre></div></div>
            
        </li>
        
        
        <li id="section-5">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-5">&#182;</a>
              </div>
              <p>a map of parent element to child elements</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		<span class="hljs-comment">/**
		 * @property {Object.&lt;String,String&gt;} can.view.elements.tagMap
		 * @parent can.view.elements
		 *
		 * A mapping of parent node names to child node names that can be inserted within
		 * the parent node name.  For example: `table: "tbody"` means that
		 * if you want a placeholder element within a `table`, a `tbody` will be
		 * created.
		 */</span>
		tagMap: {
			<span class="hljs-string">''</span>: <span class="hljs-string">'span'</span>,
			table: <span class="hljs-string">'tbody'</span>,
			tr: <span class="hljs-string">'td'</span>,
			ol: <span class="hljs-string">'li'</span>,
			ul: <span class="hljs-string">'li'</span>,
			tbody: <span class="hljs-string">'tr'</span>,
			thead: <span class="hljs-string">'tr'</span>,
			tfoot: <span class="hljs-string">'tr'</span>,
			select: <span class="hljs-string">'option'</span>,
			optgroup: <span class="hljs-string">'option'</span>
		},</pre></div></div>
            
        </li>
        
        
        <li id="section-6">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-6">&#182;</a>
              </div>
              <p>a tag’s parent element</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		reverseTagMap: {
			tr: <span class="hljs-string">'tbody'</span>,
			option: <span class="hljs-string">'select'</span>,
			td: <span class="hljs-string">'tr'</span>,
			th: <span class="hljs-string">'tr'</span>,
			li: <span class="hljs-string">'ul'</span>
		},</pre></div></div>
            
        </li>
        
        
        <li id="section-7">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-7">&#182;</a>
              </div>
              <p>Used to determine the parentNode if el is directly within a documentFragment</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		getParentNode: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(el, defaultParentNode)</span> {</span>
			<span class="hljs-keyword">return</span> defaultParentNode &amp;&amp; el.parentNode.nodeType === <span class="hljs-number">11</span> ? defaultParentNode : el.parentNode;
		},</pre></div></div>
            
        </li>
        
        
        <li id="section-8">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-8">&#182;</a>
              </div>
              <p>3.0 TODO: remove</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		setAttr: can.attr.set,</pre></div></div>
            
        </li>
        
        
        <li id="section-9">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-9">&#182;</a>
              </div>
              <p>3.0 TODO: remove</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		getAttr: can.attr.get,</pre></div></div>
            
        </li>
        
        
        <li id="section-10">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-10">&#182;</a>
              </div>
              <p>3.0 TODO: remove</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		removeAttr: can.attr.remove,</pre></div></div>
            
        </li>
        
        
        <li id="section-11">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-11">&#182;</a>
              </div>
              <p>Gets a “pretty” value for something</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>		contentText: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(text)</span> {</span>
			<span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> text === <span class="hljs-string">'string'</span>) {
				<span class="hljs-keyword">return</span> text;
			}</pre></div></div>
            
        </li>
        
        
        <li id="section-12">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-12">&#182;</a>
              </div>
              <p>If has no value, return an empty string.</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">if</span> (!text &amp;&amp; text !== <span class="hljs-number">0</span>) {
				<span class="hljs-keyword">return</span> <span class="hljs-string">''</span>;
			}
			<span class="hljs-keyword">return</span> <span class="hljs-string">''</span> + text;
		},
		<span class="hljs-comment">/**
		 * @function can.view.elements.after
		 * @parent can.view.elements
		 *
		 * Inserts newFrag after oldElements.
		 *
		 * @param {Array.&lt;HTMLElement&gt;} oldElements
		 * @param {DocumentFragment} newFrag
		 */</span>
		after: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(oldElements, newFrag)</span> {</span>
			<span class="hljs-keyword">var</span> last = oldElements[oldElements.length - <span class="hljs-number">1</span>];</pre></div></div>
            
        </li>
        
        
        <li id="section-13">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-13">&#182;</a>
              </div>
              <p>Insert it in the <code>document</code> or <code>documentFragment</code></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>			<span class="hljs-keyword">if</span> (last.nextSibling) {
				can.insertBefore(last.parentNode, newFrag, last.nextSibling);
			} <span class="hljs-keyword">else</span> {
				can.appendChild(last.parentNode, newFrag);
			}
		},
		<span class="hljs-comment">/**
		 * @function can.view.elements.replace
		 * @parent can.view.elements
		 *
		 * Replaces `oldElements` with `newFrag`
		 *
		 * @param {Array.&lt;HTMLElement&gt;} oldElements
		 * @param {DocumentFragment} newFrag
		 */</span>
		replace: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(oldElements, newFrag)</span> {</span>
			elements.after(oldElements, newFrag);
			can.remove(can.$(oldElements));
		}
	};

	can.view.elements = elements;

	<span class="hljs-keyword">return</span> elements;
});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
