<header>
	<nav class="container">

		<div class="logo-menu">
			<a class="brand canjs" href="index.html">CanJS</a>
			<ul class="dropdown-menu">
				<li><a href="http://donejs.com">DoneJS</a></li>
				<li class="active"><a href="index.html">CanJS</a></li>
				<li><a href="http://jquerypp.com">JQuery++</a></li>
				<li><a href="http://javascriptmvc.com/docs.html#!stealjs">StealJS</a></li>
				<li><a href="http://javascriptmvc.com/docs.html#!FuncUnit">FuncUnit</a></li>
				<!-- <li><a href="#radar">Radar</a></li> -->
				<li><a href="http://javascriptmvc.com/docs.html#!DocumentJS">DocumentJS</a></li>
			</ul>
		</div>

		<ul class="nav">
			<li><a href="{{link.index}}">Home</a></li>
			<li><a href="{{link.guides}}">Guides</a></li>
			<li><a href="{{link.docs}}">API</a></li>
			<li><a href="{{link.community}}">Community</a></li>
			<li><a href="{{link.download}}">Download</a></li>
		</ul>

		<div class="pull-right">

			<div class="bitovi-menu">
				<a href="http://bitovi.com" class="bitovi icon-bits">Bitovi</a>
				<ul class="dropdown-menu">
					<li><a href="http://bitovi.com">Bitovi.com</a></li>
					<li><a href="http://bitovi.com/blog/">Blog</a></li>
					<li><a href="http://bitovi.com/consulting/">Consulting</a></li>
					<li><a href="http://bitovi.com/training/">Training</a></li>
					<li><a href="http://bitovi.com/open-source/">Open Source</a></li>
					<li><a href="http://bitovi.com/people/">People</a></li>
					<li><a href="http://bitovi.com/contact/">Contact Us</a></li>
				</ul>
			</div>
			<!-- .bitovi-menu -->
		</div>
		<!-- .pull-right -->

	</nav>
</header>

{{{content}}}

<footer>
	<nav class="container">
		<a class="brand canjs" href="index.html">CanJS</a>
		<ul class="pullright">
			<li><a href="{{link.index}}">Home</a></li>
			<li><a href="{{link.guides}}">Guides</a></li>
			<li><a href="{{link.docs}}">API</a></li>
			<li><a href="{{link.community}}">Community</a></li>
			<li><a href="{{link.download}}">Download</a></li>
		</ul>
	</nav>
</footer>
<div class="loading"></div>
