<header>
	<nav class="container">

		<div class="logo-menu">
			<a class="brand canjs" href="index.html">CanJS</a>
			<ul class="dropdown-menu">
				<li><a href="#donejs">DoneJS</a></li>
				<li class="active"><a href="index.html">CanJS</a></li>
				<li><a href="#jquery">JQuery++</a></li>
				<li><a href="#stealjs">StealJS</a></li>
				<li><a href="#funcunit">FuncUnit</a></li>
				<li><a href="#radar">Radar</a></li>
				<li><a href="#documentjs">DocumentJS</a></li>
			</ul>
		</div>

		<ul class="nav">
			<li><a href="{{link.index}}">About</a></li>
			<li><a href="{{link.guides}}">Guides</a></li>
			<li><a href="{{link.docs}}">API</a></li>
			<li><a href="{{link.community}}">Community</a></li>
			<li><a href="{{link.download}}">Download</a></li>
		</ul>

		<div class="pull-right">

			<div class="bitovi-menu">
				<a href="#" class="bitovi icon-bits">Bitovi</a>
				<ul class="dropdown-menu">
					<li><a href="#bitovi">Bitovi.com</a></li>
					<li><a href="#blog">Blog</a></li>
					<li><a href="#consulting">Consulting</a></li>
					<li><a href="#training">Training</a></li>
					<li><a href="#opensource">Open Source</a></li>
					<li><a href="#people">People</a></li>
					<li><a href="#contactus">Contact Us</a></li>
				</ul>
			</div>
			<!-- .bitovi-menu -->
		</div>
		<!-- .pull-right -->

	</nav>
</header>

{{{content}}}

<footer>
	<nav class="container">
		<a class="brand canjs" href="index.html">CanJS</a>
		<ul class="pullright">
			<li><a href="{{link.index}}">About</a></li>
			<li><a href="{{link.guides}}">Guides</a></li>
			<li><a href="{{link.docs}}">API</a></li>
			<li><a href="{{link.community}}">Community</a></li>
			<li><a href="{{link.download}}">Download</a></li>
		</ul>
	</nav>
</footer>
