<nav class="sidebar">
	<div class="search">
		<input type="text"/>
	</div>
	<ul class="api">
		<li class="active"><a href="#construct">can.Construct</a>
			<ul>
				<li class="heading"><span>Prototype</span>
					<ul>
						<li class="active"><a href="#">init</a></li>
						<li><a href="#">destroy</a></li>
						<li><a href="#">update</a></li>
					</ul>
				</li>

				<li class="heading"><span>Static</span>
					<ul>
						<li><a href="#">defaults</a></li>
						<li><a href="#">processors</a></li>
					</ul>
				</li>

				<li class="heading"><span>Plugins</span>
					<ul>
						<li class="parent"><a href="#">plugin</a></li>
						<li class="parent expanded"><a href="#">route</a>
							<ul>
								<li><a href="#">monkey.Tail</a></li>
								<li><a href="#">monkey.Banana</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="heading"><span>Pages</span>
					<ul>
						<li><a href="#">Deferreds</a></li>
						<li><a href="#">Service Encapsulation</a></li>
					</ul>
				</li>

			</ul>
		</li>

		<li><a href="#observe">can.Observe</a></li>
		<li><a href="#model">can.Model</a></li>
		<li><a href="#control">can.Control</a></li>
		<li><a href="#view">can.view</a></li>
		<li><a href="#route">can.route</a></li>
		<li><a href="#util">can.util</a></li>
	</ul>
</nav>

<article class="content docs">
	{{{content}}}
</article>
