/* @override 
	http://localhost:3022/canjs.us/styles/dev.css */


.lt-ie9 .circle-tabs li a:before {
	background-color: none;
	border: none;
	background: url('../img/ie-circle-tabs-137.png') no-repeat center top;
}
.lt-ie9 .circle-tabs li a:hover:before,
.lt-ie9 .circle-tabs li.active a:before {
	background-color: none;
}