/* @override 
	http://localhost:3022/canjs.us/styles/dev.css */
.pull-right.categories {
	width: 240px;
}
.pull-right.categories .button {
	width: 100%;
}
.follower-badges {
	background-color: #eeeeee;
	padding: 10px;
	margin: 0;
}
.follower-badges h4 {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
}
.pull-right.categories .follower-badges li {
	font-size: 12px;
	color: #666;
	line-height: 13px;
	padding-left: 40px;
	min-height: 40px;
}



label.checkbox {
	width: 11px;
	height: 11px;
	border: 1px solid #bababa;
	display: inline-block;
	background-color: #d7d7d7;
	border-radius: 1px;
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	position: relative;
}
input[type='checkbox']:checked + label.checkbox {
	background-color: #fff;
	background: rgb(244,244,244);
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(219,219,219,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(219,219,219,1)));
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dbdbdb',GradientType=0 );
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 #ffffff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 #ffffff;
}
input[type='checkbox']:checked + label.checkbox:before {
	content: "\e050";
	font: normal 20px Bitstrap;
	color: #5d5c5c;
	position: absolute;
	top: -10px;
	left: 0;
}
input.all, input.module, input#minify, input#minified {
	display: none;
}