@import 'base.css';
.text-smoothing{-webkit-font-smoothing:antialiased;}
body{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img,.google-maps img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{cursor:pointer;}
textarea{overflow:auto;vertical-align:top;}
br{float:none;clear:both;}
.border-box{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.text-shadow{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}
.text-shadow-light{text-shadow:0 1px 0 #ffffff;}
@font-face{font-family:'Bitstrap';src:url('../fonts/Bitstrap-Regular.otf');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:Bitstrap;font-weight:normal;font-style:normal;text-decoration:inherit;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none !important;background-position:0% 0%;background-repeat:repeat;}
[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.icon-breakout:before{content:"\e000";}
.icon-menudown:before{content:"\e001";}
.icon-bits:before{content:"\e002";}
.icon-twitter:before{content:"\e003";}
.icon-canjs:before{content:"\e004";}
.icon-app:before{content:"\e005";}
.icon-forum:before{content:"\e006";}
.icon-chat:before{content:"\e007";}
.icon-plugin:before{content:"\e008";}
.icon-code:before{content:"\e009";}
.icon-article:before{content:"\e010";}
.icon-muscle:before{content:"\e011";}
.icon-search:before{content:"\e012";}
.icon-rocket:before{content:"\e013";}
.icon-fork:before{content:"\e014";}
.icon-menuright:before{content:"\e017";}
.icon-next:before{content:"\e015";}
.icon-prev:before{content:"\e016";}
.icon-question:before{content:"\e018";}
.icon-voteup:before{content:"\e019";}
.icon-clock:before{content:"\e020";}
.icon-mug:before{content:"\e021";}
.icon-shirt:before{content:"\e022";}
.icon-sticker:before{content:"\e023";}
.icon-bug:before{content:"\e024";}
.icon-rss:before{content:"\e025";}
.icon-user:before{content:"\e026";}
.icon-github:before{content:"\e027";}
.icon-award:before{content:"\e028";}
.icon-close:before{content:"\e029";}
.icon-check:before{content:"\e030";}
.icon-google:before{content:"\e031";}
.icon-star:before{content:"\e032";}
.icon-retweet:before{content:"\e033";}
.icon-reply:before{content:"\e034";}
.icon-bitovi:before{content:"\e035";}
.icon-plus:before{content:"\e036";}
.icon-minus:before{content:"\e037";}
.icon-logout:before{content:"\e038";}
.icon-lookright:before{content:"\e039";}
.icon-lookleft:before{content:"\e040";}
.icon-flag:before{content:"\e041";}
.icon-flexible:before{content:"\e042";}
.icon-photo:before{content:"\e043";}
.icon-download:before{content:"\e044";}
.icon-list:before{content:"\e045";}
.icon-play:before{content:"\e046";}
.arrow:before{content:"";border-color:#636363 transparent;border-style:solid;border-width:0 5px 5px 5px;display:block;height:0;width:0;}
.arrow.left:before{border-color:transparent #636363 ;border-width:5px 5px 5px 0;}
.arrow.right:before{border-color:transparent #636363 ;border-width:5px 0 5px 5px;}
.arrow.up:before{border-color:#636363 transparent;border-width:0 5px 5px 5px;}
.arrow.down:before{border-color:#636363 transparent;border-width:5px 5px 0 5px;}
@font-face{font-family:'Lato';src:url('../fonts/Lato-Reg.ttf');font-weight:normal;font-style:normal;}@font-face{font-family:'LatoLight';src:url('../fonts/Lato-Lig.ttf');font-weight:normal;font-style:normal;}@font-face{font-family:'LatoBold';src:url('../fonts/Lato-Bol.ttf');font-weight:normal;font-style:normal;}*{font-family:'Lato',sans-serif;}
body{background:url(../img/bkg-dots.png) repeat #ffffff;}
.brand{color:#fff;border-left:1px solid rgba(255, 255, 255, 0);border-right:1px solid rgba(255, 255, 255, 0);display:block;line-height:54px;text-indent:-9999px;height:54px;width:130px;text-align:left;background-image:none;text-decoration:none;position:relative;top:0;left:0;}
.brand:before{text-decoration:none;content:"\e004";speak:none;color:#ffffff;line-height:20px;font-family:Bitstrap;font-size:180px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);position:absolute;top:0;left:0;width:130px;text-indent:0px;}
header{display:block;background-color:#165489;color:#fff;position:relative;}header .container{position:relative;height:54px;text-align:left;}
header .brand.canjs:after{content:"\e001";color:rgba(255, 255, 255, 0.4);text-indent:0;font-size:25px;font-family:Bitstrap;line-height:54px;position:absolute;right:5px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}header .brand.canjs:after:hover .brand.canjs::after{color:#ffffff;text-shadow:none;}
header .nav{list-style-type:none;padding:0;margin:0 0 0 15px;display:inline-block;position:relative;top:-2px;}
header .nav li{display:inline-block;line-height:54px;}header .nav li a{text-transform:uppercase;text-decoration:none;font-weight:bold;font-size:12px;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);padding:5px 10px;border:1px solid rgba(255, 255, 255, 0);}
header .nav li a:hover,header .nav li.active a{background-color:rgba(0, 0, 0, 0.37);border:1px solid rgba(0, 0, 0, 0.62);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
header .bitovi.icon-bits{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 4, 159, 0.49);display:block;opacity:.2;font-size:26px;line-height:54px;text-align:center;width:50px;height:54px;}
header .bitovi-menu:hover .bitovi.icon-bits,header .logo-menu:hover .brand.canjs{background-color:#fff;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;color:#165489;text-shadow:none;opacity:1;}
header .logo-menu:hover .brand.canjs:before{color:#165489;text-shadow:none;}
header .logo-menu{position:relative;display:inline-block;}
header .dropdown-menu{display:none;visibility:collapse;position:absolute;left:0;background-color:#fff;border:1px solid #d5d5d5;border-top:none;z-index:5;margin:0;padding:0;list-style-type:none;top:54px;width:240px;}
header .dropdown-menu li a{display:block;text-decoration:none;border-bottom:1px solid #f5f5f5;color:#676767;font-size:14px;line-height:32px;padding-left:20px;padding-right:20px;}
header .dropdown-menu li a:hover,header .dropdown-menu li.active a{background-color:#f5f5f5;color:#000;}
header .dropdown-menu li a:hover:after{content:"\e000";color:#dcdada;font:20px/27px Bitstrap;position:absolute;right:10px;}
header .logo-menu:hover .dropdown-menu,header .bitovi-menu:hover .dropdown-menu{display:block;visibility:visible;}
header .bitovi-menu:hover .dropdown-menu{right:0;left:auto;}
header .pull-right{position:absolute;right:0;top:0;}
header .bitovi-menu{display:inline-block;}
footer{background-color:#e7e7e7;border-top:1px solid #fff;color:#bababa;padding-top:0px;padding-bottom:0px;position:relative;text-align:right;height:80px;}footer .container{text-align:right;position:relative;height:80px;overflow:hidden;}
footer li a{font-size:12px;font-weight:bold;text-transform:uppercase;text-decoration:none;text-shadow:0 1px 0 #ffffff;color:#165489;padding:5px 10px;height:80px;line-height:80px;}footer li a:hover{text-decoration:underline;}
footer ul{list-style-type:none;list-style:none;margin:0;position:absolute;right:0;top:0px;}
footer li{display:inline-block;}
footer .brand:before{color:#bababa;text-shadow:0 1px 0 #ffffff;line-height:47px;}
footer .brand:hover:before{color:#929191;}
.api .sidebar{width:255px;float:left;margin-top:20px;margin-bottom:-3000px;padding-bottom:3000px;}
.api .content.docs{float:left;width:662px;margin-top:20px;background-color:#fff;border:1px solid #d5d5d5;padding:20px;border-left-style:none;border-bottom-style:none;}
.api footer{margin-top:20px;}
.container.api{overflow:hidden;border-bottom:1px solid #d5d5d5;}
.search{display:block;border:1px solid #d5d5d5;padding:3px 3px 3px 30px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.1);box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.1);margin:8px;}
.search input:focus,.search input:enabled{border-color:none;outline:none;}
.search input{display:block;border-style:none;background-color:rgba(255, 255, 254, 0);width:100%;}
.search:before{font-family:Bitstrap;content:"\e012";display:block;position:absolute;left:17px;color:#fff;text-shadow:0 0 3px rgba(0, 0, 0, 0.49);}
.title{display:block;border-bottom:1px solid #eae9e9;padding-bottom:20px;}
.docs h1{margin:0;display:inline-block;}
.docs h2{font-size:22px;}
.docs h3{font-size:16px;}
.docs .module,.docs .inherits,.docs .title .links li{font-size:14px;color:#999999;}
.docs .title .links,.docs .title .tags{list-style:none;margin:0;text-align:right;padding:0;}
.docs .title .tags li{display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#767676;color:#fff;font-size:12px;margin-left:5px;padding:2px 8px;}
.docs .title .links li{display:inline-block;margin-top:1px;}
.docs .title .links li::before{content:'|';padding-right:5px;padding-left:3px;}
.docs .title .links li:first-child::before{content:none;padding:none;}
.docs .inherits{display:block;}
.docs .contents li{line-height:24px;list-style-type:square;}
.docs .signature h2{background-color:#165489;color:#fff;font-size:18px;line-height:24px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;border-top-left-radius:3px;border-top-right-radius:3px;padding:3px 10px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}
.docs .signature h2 span{font-size:10px;font-weight:normal;font-style:normal;float:right;}
.docs .parameters,.docs .returns{list-style-type:none;margin:0 0 15px;border:1px solid #eeeeee;background-color:#fff;padding:10px 10px 5px;}
.docs .parameters h4,.docs .returns h4{background-color:#767676;padding:3px 10px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);color:#fff;margin:-11px -11px 5px;}
.docs .parameters h5,.docs .returns h5{font-size:14px;margin:0 0 5px;color:#000;}
.docs .parameters code,.docs .returns code{font-style:italic;font-weight:normal;margin-left:3px;}
.docs .parameters .options,.docs .returns .options{margin:0 -10px 15px;border-top:1px solid #eeeeee;list-style-type:none;padding-left:25px;padding-top:5px;}
.docs .parameters ul.options:last-child,.docs .returns ul.options:last-child{margin-bottom:0;}
.docs .parameters .description,.docs .returns .description{margin-left:15px;margin-bottom:5px;}
.docs .parameters .description *:last-child,.docs .returns .description *:last-child{margin-bottom:0px;}
.sidebar{background-color:#f8f8f8;border:1px solid #c5c3c3;position:relative;z-index:1;-moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.08);-webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.08);box-shadow:5px 5px 10px rgba(0, 0, 0, 0.08);margin-bottom:15px;}
.sidebar ul{list-style-type:none;margin:0;padding:0;}
.sidebar .api a,.sidebar .api a:hover{text-decoration:none;color:#000;text-shadow:0 1px 0 #ffffff;}
.sidebar .api li{font-size:15px;line-height:24px;text-indent:15px;position:relative;}
.sidebar .api li a{display:block;border:1px solid rgba(255, 255, 254, 0);}
.sidebar .api ul ul li a:hover{border:1px solid rgba(255, 255, 254, 0);background:rgba(204, 204, 204, 0.25);}
.sidebar .api li li li li a{font-size:13px;color:#666;}
.sidebar .api>li.active{border-bottom:3px solid #165489;border-left:3px solid #165489;border-right:3px solid #165489;margin-left:-1px;margin-right:-1px;margin-top:-1px;position:relative;z-index:0;background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 96%, rgba(0, 0, 0, 0.1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(255, 255, 255, 0)), color-stop(96%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 96%, rgba(0, 0, 0, 0.1) 100%);background:-o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 96%, rgba(0, 0, 0, 0.1) 100%);background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 96%, rgba(0, 0, 0, 0.1) 100%);background:linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 96%, rgba(0, 0, 0, 0.1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#1a000000', GradientType=0);}
.sidebar .api li.active>a{font-weight:bold;}
.sidebar .api li li li{text-indent:30px;}
.sidebar .api li li li li{text-indent:45px;}
.sidebar .api>li>a,.sidebar .api.cascading>.active>ul>li>a{font-size:17px;font-weight:bold;line-height:40px;color:#767676;display:block;border:none;}
.sidebar .api>li>a:hover,.sidebar .api.cascading .active>ul>li>a:hover{color:#000;border:none;}
.sidebar .api>li.active>a,.sidebar .api.cascading>.active>a{color:#fff;background:#165489;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);border:none;}
.sidebar .api .heading span{text-transform:uppercase;font-weight:bold;font-size:12px;color:#959494;line-height:24px;}
.sidebar .api ul{}
.sidebar .api .active>ul,.sidebar .api>li:last-child{padding-bottom:10px;}
.sidebar .api li.parent{text-indent:40px;}
.sidebar .api li.parent li{text-indent:50px;}
.sidebar .api li.parent:before{content:"";border-color:transparent #636363;border-style:solid;border-width:0.3em 0 0.3em 0.5em;display:block;height:0;width:0;position:absolute;top:10px;left:30px;}
.sidebar .api li.parent.expanded:before{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.sidebar .api li li.active>a,.sidebar .api li li.active>a:hover{position:relative;display:block;height:25px;background-image:-moz-linear-gradient(90deg, #f3f3f3 0%, #ffffff 100%);background-image:-o-linear-gradient(90deg, #f3f3f3 0%, #ffffff 100%);background-image:-webkit-linear-gradient(90deg, #f3f3f3 0%, #ffffff 100%);border-top:1px solid #c5c3c3;border-bottom:1px solid #c5c3c3;}
.sidebar .api li li.active>a:before,.sidebar .api li li.active>a::before{position:absolute;content:' ';right:-9px;top:4px;height:14px;width:14px;z-index:-1;background-image:-moz-linear-gradient(45deg, #f3f3f3 0%, #ffffff 100%);background-image:-o-linear-gradient(45deg, #f3f3f3 0%, #ffffff 100%);background-image:-webkit-linear-gradient(45deg, #f3f3f3 0%, #ffffff 100%);background-image:linear-gradient(45deg, #f3f3f3 0%, #ffffff 100%);-moz-transform:rotateZ(-45deg) skewY(-15deg) skewX(-15deg);-o-transform:rotateZ(-45deg) skewY(-15deg) skewX(-15deg);-webkit-transform:rotateZ(-45deg) skewY(-15deg) skewX(-15deg);transform:rotateZ(-45deg) skewY(-15deg) skewX(-15deg);border-top-right-radius:2px;border-bottom-left-radius:2px;border:1px solid #c5c3c3;}
.sidebar .api.cascading>.parent{border-bottom:1px solid #fff;z-index:1;text-indent:15px;-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.19);-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.19);box-shadow:0 2px 5px rgba(0, 0, 0, 0.19);}
.sidebar .api.cascading>.parent:before{position:absolute;content:' ';left:49%;top:17px;height:25px;width:25px;z-index:-1;-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.19);-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.19);box-shadow:0 2px 5px rgba(0, 0, 0, 0.19);background:#165489;-moz-transform:rotateZ(-45deg) skewY(15deg) skewX(15deg);-o-transform:rotateZ(-45deg) skewY(15deg) skewX(15deg);-webkit-transform:rotateZ(-45deg) skewY(15deg) skewX(15deg);transform:rotateZ(-45deg) skewY(15deg) skewX(15deg);border-top-right-radius:0px;border-bottom-left-radius:0px;border:1px solid #ffffff;}
.sidebar .api.cascading .active>ul{padding-bottom:0;}
.sidebar .api.cascading>li:nth-child(1){z-index:10;}
.sidebar .api.cascading>li:nth-child(2){z-index:9;}
.sidebar .api.cascading>li:nth-child(3){z-index:8;}
.sidebar .api.cascading>li:nth-child(4){z-index:7;}
.sidebar .api.cascading>li:nth-child(5){z-index:6;}
.sidebar .api.cascading>li:nth-child(6){z-index:5;}
.sidebar .api.cascading>li:nth-child(7){z-index:4;}
.sidebar .api.cascading>li:nth-child(8){z-index:3;}
.sidebar .api.cascading>li:nth-child(9){z-index:2;}
.sidebar .api.cascading>li:nth-child(10){z-index:1;}
