@import 'base.css';
.text-smoothing{-webkit-font-smoothing:antialiased;}
body{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img,.google-maps img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{cursor:pointer;}
textarea{overflow:auto;vertical-align:top;}
br{float:none;clear:both;}
.border-box{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.text-shadow{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}
.text-shadow-light{text-shadow:0 1px 0 #ffffff;}
@font-face{font-family:'Bitstrap';src:url('../fonts/Bitstrap-Regular.otf');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:Bitstrap;font-weight:normal;font-style:normal;text-decoration:inherit;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none !important;background-position:0% 0%;background-repeat:repeat;}
[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.icon-breakout:before{content:"\e000";}
.icon-menudown:before{content:"\e001";}
.icon-bits:before{content:"\e002";}
.icon-twitter:before{content:"\e003";}
.icon-canjs:before{content:"\e004";}
.icon-app:before{content:"\e005";}
.icon-forum:before{content:"\e006";}
.icon-chat:before{content:"\e007";}
.icon-plugin:before{content:"\e008";}
.icon-code:before{content:"\e009";}
.icon-article:before{content:"\e010";}
.icon-muscle:before{content:"\e011";}
.icon-search:before{content:"\e012";}
.icon-rocket:before{content:"\e013";}
.icon-fork:before{content:"\e014";}
.icon-menuright:before{content:"\e017";}
.icon-next:before{content:"\e015";}
.icon-prev:before{content:"\e016";}
.icon-question:before{content:"\e018";}
.icon-voteup:before{content:"\e019";}
.icon-clock:before{content:"\e020";}
.icon-mug:before{content:"\e021";}
.icon-shirt:before{content:"\e022";}
.icon-sticker:before{content:"\e023";}
.icon-bug:before{content:"\e024";}
.icon-rss:before{content:"\e025";}
.icon-user:before{content:"\e026";}
.icon-github:before{content:"\e027";}
.icon-award:before{content:"\e028";}
.icon-close:before{content:"\e029";}
.icon-check:before{content:"\e030";}
.icon-google:before{content:"\e031";}
.icon-star:before{content:"\e032";}
.icon-retweet:before{content:"\e033";}
.icon-reply:before{content:"\e034";}
.icon-bitovi:before{content:"\e035";}
.icon-plus:before{content:"\e036";}
.icon-minus:before{content:"\e037";}
.icon-logout:before{content:"\e038";}
.icon-lookright:before{content:"\e039";}
.icon-lookleft:before{content:"\e040";}
.icon-flag:before{content:"\e041";}
.icon-flexible:before{content:"\e042";}
.icon-photo:before{content:"\e043";}
.icon-download:before{content:"\e044";}
.icon-list:before{content:"\e045";}
.icon-play:before{content:"\e046";}
.arrow:before{content:"";border-color:#636363 transparent;border-style:solid;border-width:0 5px 5px 5px;display:block;height:0;width:0;}
.arrow.left:before{border-color:transparent #636363 ;border-width:5px 5px 5px 0;}
.arrow.right:before{border-color:transparent #636363 ;border-width:5px 0 5px 5px;}
.arrow.up:before{border-color:#636363 transparent;border-width:0 5px 5px 5px;}
.arrow.down:before{border-color:#636363 transparent;border-width:5px 5px 0 5px;}
@font-face{font-family:'Lato';src:url('../fonts/Lato-Reg.ttf');font-weight:normal;font-style:normal;}@font-face{font-family:'LatoLight';src:url('../fonts/Lato-Lig.ttf');font-weight:normal;font-style:normal;}@font-face{font-family:'LatoBold';src:url('../fonts/Lato-Bol.ttf');font-weight:normal;font-style:normal;}*{font-family:'Lato',sans-serif;}
body{background:url(../img/bkg-dots.png) repeat #ffffff;}
.brand{color:#fff;border-left:1px solid rgba(255, 255, 255, 0);border-right:1px solid rgba(255, 255, 255, 0);display:block;line-height:54px;text-indent:-9999px;height:54px;width:130px;text-align:left;background-image:none;text-decoration:none;position:relative;top:0;left:0;}
.brand:before{text-decoration:none;content:"\e004";speak:none;color:#ffffff;line-height:20px;font-family:Bitstrap;font-size:180px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);position:absolute;top:0;left:0;width:130px;text-indent:0px;}
header{display:block;background-color:#165489;color:#fff;position:relative;}header .container{position:relative;height:54px;text-align:left;}
header .brand.canjs:after{content:"\e001";color:rgba(255, 255, 255, 0.4);text-indent:0;font-size:25px;font-family:Bitstrap;line-height:54px;position:absolute;right:5px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}header .brand.canjs:after:hover .brand.canjs::after{color:#ffffff;text-shadow:none;}
header .nav{list-style-type:none;padding:0;margin:0 0 0 15px;display:inline-block;position:relative;top:-2px;}
header .nav li{display:inline-block;line-height:54px;}header .nav li a{text-transform:uppercase;text-decoration:none;font-weight:bold;font-size:12px;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);padding:5px 10px;border:1px solid rgba(255, 255, 255, 0);}
header .nav li a:hover,header .nav li.active a{background-color:rgba(0, 0, 0, 0.37);border:1px solid rgba(0, 0, 0, 0.62);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
header .bitovi.icon-bits{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 4, 159, 0.49);display:block;opacity:.2;font-size:26px;line-height:54px;text-align:center;width:50px;height:54px;}
header .bitovi-menu:hover .bitovi.icon-bits,header .logo-menu:hover .brand.canjs{background-color:#fff;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;color:#165489;text-shadow:none;opacity:1;}
header .logo-menu:hover .brand.canjs:before{color:#165489;text-shadow:none;}
header .logo-menu{position:relative;display:inline-block;}
header .dropdown-menu{display:none;visibility:collapse;position:absolute;left:0;background-color:#fff;border:1px solid #d5d5d5;border-top:none;z-index:5;margin:0;padding:0;list-style-type:none;top:54px;width:240px;}
header .dropdown-menu li a{display:block;text-decoration:none;border-bottom:1px solid #f5f5f5;color:#676767;font-size:14px;line-height:32px;padding-left:20px;padding-right:20px;}
header .dropdown-menu li a:hover,header .dropdown-menu li.active a{background-color:#f5f5f5;color:#000;}
header .dropdown-menu li a:hover:after{content:"\e000";color:#dcdada;font:20px/27px Bitstrap;position:absolute;right:10px;}
header .logo-menu:hover .dropdown-menu,header .bitovi-menu:hover .dropdown-menu{display:block;visibility:visible;}
header .bitovi-menu:hover .dropdown-menu{right:0;left:auto;}
header .pull-right{position:absolute;right:0;top:0;}
header .bitovi-menu{display:inline-block;}
footer{background-color:#e7e7e7;border-top:1px solid #fff;color:#bababa;padding-top:0px;padding-bottom:0px;position:relative;text-align:right;height:80px;}footer .container{text-align:right;position:relative;height:80px;overflow:hidden;}
footer li a{font-size:12px;font-weight:bold;text-transform:uppercase;text-decoration:none;text-shadow:0 1px 0 #ffffff;color:#165489;padding:5px 10px;height:80px;line-height:80px;}footer li a:hover{text-decoration:underline;}
footer ul{list-style-type:none;list-style:none;margin:0;position:absolute;right:0;top:0px;}
footer li{display:inline-block;}
footer .brand:before{color:#bababa;text-shadow:0 1px 0 #ffffff;line-height:47px;}
footer .brand:hover:before{color:#929191;}
button{background-color:#165489;border:1px solid #0b2e4b;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:5px 15px;font-size:14px;line-height:18px;}
button.color{background-color:#efa81e;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);border-color:#c1881a;}
button.color:hover{background-color:#c1881a;}
.hero{background:url(../img/hero-ribbons.png) no-repeat center center,url(../img/bkg-dots-dark.png) #797977;border-bottom:20px solid #efa81e;height:300px;overflow:visible;}
.community .hero{height:243px;}
.hero h1{font-weight:200;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.52);font-size:40px;display:block;width:500px;float:left;margin-top:70px;}
.hero .pull-right{margin-top:90px;width:340px;text-align:center;}
.hero button{background-color:#15b716;border-color:#0f8b10;text-transform:uppercase;font-size:17px;line-height:18px;display:inline-block;height:54px;}
.hero button span{display:block;text-transform:none;font-size:11px;}
.hero button:hover{background-color:#0f8b10;}
.hero button.download{padding-right:40px;padding-left:40px;}
.hero button.customize{font-size:10px;border-left-style:none;position:relative;}
.hero button.customize .arrow.down{display:inline-block;margin-left:3px;}
.hero button.customize .arrow.down:before{content:"";border-style:solid;display:block;height:0;width:0;border-color:#fff transparent;border-width:6px 4px 0 4px;-moz-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);}
.hero p{color:#fff;text-shadow:0 -1px 0 #000000;text-transform:uppercase;font-size:11px;}
.circle-tabs{list-style-type:none;text-align:center;padding:0;margin:0 auto;}
.circle-tabs li{display:inline-block;margin-left:50px;text-align:center;}
.home .circle-tabs li{margin-left:200px;}
.circle-tabs li:first-child{margin-left:0px;}
.circle-tabs li a{text-transform:uppercase;font-size:20px;text-decoration:none;color:#165489;text-shadow:0 -1px 0 rgba(255, 255, 255, 0.48);position:relative;width:140px;display:block;text-align:center;}
.circle-tabs li a::before{content:'';background-color:#ffffff;border:1px solid #d9d9d9;color:#efa81e;font:110px/110px Bitstrap;display:inline-block;bottom:40px;text-align:center;border-radius:160px;-moz-border-radius:160px;-webkit-border-radius:160px;margin:0 auto;position:absolute;width:138px;height:138px;}
.home .circle-tabs li a{padding-top:170px;}
.community .circle-tabs li a{font-size:13px;padding-top:140px;width:105px;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}
.community .circle-tabs li a::before{font-size:80px;line-height:60px;bottom:25px;width:85px;height:85px;text-shadow:none;left:10px;}
.circle-tabs li a:hover::before{color:#ffffff;background-color:#efa81e;border-color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);}
.circle-tabs .powerful a::before{content:"\e011";}
.circle-tabs .fast a::before{content:"\e013";}
.circle-tabs .flexible a::before{content:"\e042";}
.circle-tabs .forums a::before{content:"\e006";}
.circle-tabs .irc a::before{content:"\e007";}
.circle-tabs .plugins a::before{content:"\e008";}
.circle-tabs .twitter a::before{content:"\e003";}
.circle-tabs .issues a::before{content:"\e009";}
.circle-tabs .github a::before{content:"\e014";}
.home .circle-tabs{margin-top:-97px;margin-bottom:30px;}
.tab-description{background-color:#ffffff;padding:20px;font-weight:100;font-size:22px;border:1px solid #dedbdb;color:#1d1c1c;margin-bottom:20px;position:relative;z-index:1;text-align:center;}
.tab-description:before{position:absolute;content:'';height:20px;width:20px;background:#ffffff;-moz-transform:rotateZ(-45deg) skewY(5deg) skewX(5deg);-o-transform:rotateZ(-45deg) skewY(5deg) skewX(5deg);-webkit-transform:rotateZ(-45deg) skewY(5deg) skewX(5deg);transform:rotateZ(-45deg) skewY(5deg) skewX(5deg);border:1px solid #dedbdb;top:-11px;z-index:-1;display:block;left:125px;border-left-style:none;border-bottom-style:none;}
.community .tab-description{margin-top:-80px;height:460px;text-align:left;}
.community .tab-description:before{left:74px;}
.customize.container{background-color:#fff;border:solid 1px #ccc;margin-bottom:20px;margin-top:-50px;padding:20px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}.customize.container h1{color:#fff;background-color:#165489;font-size:17px;text-transform:uppercase;padding:10px;-webkit-font-smoothing:antialiased;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);margin:-21px;margin-bottom:21px;}
.customize.container h1 .pullright{font-size:11px;padding-top:3px;}
.download button.download{padding-left:80px;padding-right:80px;}
.download .button-desc a{color:#fff;}
.download .hero{height:270px;}
.cdn{width:550px;float:left;position:relative;top:107px;}.cdn h4{display:inline;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}
.cdn .input{display:inline;background:#fff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:8px;color:#999;}
.input{background:#fff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:8px;color:#999;}
