.download {
	button.color, button.download {
		padding-left: 80px;
		padding-right: 80px;
		margin: 0 auto;
	}
	.button-desc a {
		color: #fff;
	}
	.hero {
		height: 270px;
	}

	.cdn {
		width: 550px;
		float: left;
		position: relative;
		top: 107px;
		
		h4 {
			display: inline;
			color: #fff;
			.text-shadow;
		}
		.input {
			display: inline;
			.input;
		}
	}
	
	.input {
		background: #fff;
		.border-radius;
		padding: 8px;
		color: #999;
	}
	
	.libraries {
		margin-bottom: 12px;
	
		input[type=radio] {
			
	
			& + label {
				
			}
		}
	
		input[type=checkbox] {
			
		}
	}
	
	.options {
		float: left;
		width: 439px;
		margin-right: 40px;
	}
	
	.options + .options {
		margin-right: 0px;
	}

}