/* @override 
	http://w-canjs/css/forms.css */

input[type='text'],
input[type='textarea'],
input[type='search'],
input[type='number'] {
	background-color: #fff;
	-webkit-appearance: none;
	border-radius: 2px;
	border: 1px solid #dedddd;
	font-family: LatoLight, sans-serif;
	text-shadow: none;
}
.customize center button {
	text-transform: uppercase;
	font-size: 17px;
	padding: 10px 70px;
}
.customize form {
	font-size: 14px;
	line-height: 16px;
}
.customize .options {
	width: 49%;
	float: left;
	margin-top: 10px;
	margin-right: 2%;
	border: none;
}
.customize .options:last-of-type {
	margin-right: 0%;
}
.customize .options, .customize .options th, .customize .options td {
	border: none;
}
.customize .options th {
	text-transform: uppercase;
	color: #222121;
}

input.all, input.module, input#minify, input#minified,
input#dojo, input#yui, input#mootools, input#zepto, input#jquery {
	display: none;
}
label.checkbox {
	width: 11px;
	height: 11px;
	border: 1px solid #bababa;
	display: inline-block;
	background-color: #d7d7d7;
	border-radius: 1px;
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	position: relative;
	margin: 0;
}
input[type='checkbox']:checked + label.checkbox,
input[type='radio']:checked + label.radio {
	background-color: #fff;
	background: rgb(244,244,244);
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(219,219,219,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(219,219,219,1)));
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dbdbdb',GradientType=0 );
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 #ffffff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 #ffffff;
}
input[type='checkbox']:checked + label.checkbox:before {
	content: "\e050";
	font: normal 20px Bitstrap;
	color: #5d5c5c;
	position: absolute;
	top: -10px;
	left: 0;
}
label.radio {
	width: 12px;
	height: 12px;
	border: 1px solid #bababa;
	display: inline-block;
	background-color: #d7d7d7;
	border-radius: 30px;
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
	position: relative;
	margin-right: 0;
}
input[type='radio']:checked + label.radio:after {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #5d5c5c;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    font-size: 32px;
	margin-right: 0;
	
}
.customize-box label.checkbox {
	margin-right: 3px;
}
