.ie .sidebar .api li li.active > a, 
.ie .sidebar .api li li.active > a:hover,
.ie .sidebar .api li li.active > a:before,
.ie .sidebar .api li li.active > a::before {
	background-image: none;
	background-color: #ffffff;
	background: #ffffff;
}
.ie .sidebar .api li li.active > a:before,
.ie .sidebar .api li li.active > a::before {
	display: none;
}
